## Load data

In [1]:
import pandas as pd

train_file = 'algebra_2008_2009_train.txt'
df = pd.read_table(train_file)
print('Finish loading data.')

Finish loading data.

Output data columns and reference to proposal file, let's dive into the data.

In [2]:
df.columns

Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(SubSkills)', 'Opportunity(SubSkills)',
       'KC(KTracedSkills)', 'Opportunity(KTracedSkills)', 'KC(Rules)',
       'Opportunity(Rules)'],
      dtype='object')

In [3]:
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Correct First Attempt,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules)
0,1,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R2C1,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,0,3,1,1,Identifying units,1,NaN,NaN,UNIT-HELP,1
1,2,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C1,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,0,0,1,Define Variable,1,NaN,NaN,VARIABLE-HELP,1
2,3,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C2,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,0,0,1,"Write expression, any form~~Using simple numbe...",1~~1~~1~~1~~1~~1,Using simple numbers-1~~Using large numbers-1~...,1~~1~~1,STANDARD-MX+B-FORMULA-HELP,1
3,4,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C1,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,1,0,1,"Entering a given~~Enter given, reading words~~...",1~~1~~1,Entering a given-1,1,GIVEN-HELP-NON-NUMERIC-PHRASE,1
4,5,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C2,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,2008-09-19 13:30:46.0,...,1,0,0,1,"Using simple numbers~~Find Y, any form~~Using ...",2~~1~~2~~1,Using simple numbers-1~~Using large numbers-1~...,2~~2~~1,CALCULATED-VALUE-HELP-MX+B-GIVEN-X-ZERO,1

In [4]:
df["Step Duration (sec)"].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Step Duration (sec), dtype: float64

In [5]:
df["Correct Step Duration (sec)"].head()

0    NaN
1    0.0
2    0.0
3    0.0
4    0.0
Name: Correct Step Duration (sec), dtype: float64

In [6]:
df["Error Step Duration (sec)"].head()

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
Name: Error Step Duration (sec), dtype: float64

## Feature Engineer - Process NaN or Null Values

In [7]:
pd.__version__

'0.20.1'

In [8]:
# Find columns that contains NaN value
df.isnull().any()

Row                            False
Anon Student Id                False
Problem Hierarchy              False
Problem Name                   False
Problem View                   False
Step Name                      False
Step Start Time                 True
First Transaction Time         False
Correct Transaction Time        True
Step End Time                  False
Step Duration (sec)             True
Correct Step Duration (sec)     True
Error Step Duration (sec)       True
Correct First Attempt          False
Incorrects                     False
Hints                          False
Corrects                       False
KC(SubSkills)                   True
Opportunity(SubSkills)          True
KC(KTracedSkills)               True
Opportunity(KTracedSkills)      True
KC(Rules)                       True
Opportunity(Rules)              True
dtype: bool

In [9]:
df.isnull().sum()

Row                                  0
Anon Student Id                      0
Problem Hierarchy                    0
Problem Name                         0
Problem View                         0
Step Name                            0
Step Start Time                 265516
First Transaction Time               0
Correct Transaction Time        238090
Step End Time                        0
Step Duration (sec)             442921
Correct Step Duration (sec)    1641028
Error Step Duration (sec)      7719947
Correct First Attempt                0
Incorrects                           0
Hints                                0
Corrects                             0
KC(SubSkills)                  2475917
Opportunity(SubSkills)         2475917
KC(KTracedSkills)              4498349
Opportunity(KTracedSkills)     4498349
KC(Rules)                       322051
Opportunity(Rules)              322051
dtype: int64

We are going to process with data's NaN values. But the number of records which contains NaN value is too large. We can't just drop them all.

##### Column - 'Step Start Time'
It's a time format data.

In [10]:
df['Step Start Time'] = pd.Series(pd.to_datetime(df['Step Start Time']))
print('Finish converte Step Start Time to date format.')

Finish converte Step Start Time to date format.

In [11]:
df.sort_values('Step Start Time', axis=0, ascending=True)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Correct First Attempt,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules)
7680763,7680764,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-030,1,Numerator,2008-09-06 21:32:28,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,...,1,0,0,1,Enter numerator of converted unit,1,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,1
7680760,7680761,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-030,1,MoreOrFewer,2008-09-06 21:32:28,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,...,1,0,0,1,Compare units,1,Compare units-1,1,UNIT-CONVERSION-RELATIVE-SIZE-GOAL-NODE-Condit...,1
7680761,7680762,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-030,1,ConversionFactorpoundsounces,2008-09-06 21:32:28,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,...,0,1,2,1,Enter unit conversion,1,Enter unit conversion-1,1,UNIT-CONVERSION-CONVERSION-FACTOR-GOAL-NODE-Co...,1
7680762,7680763,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-030,1,SelectFractionpoundsounces,2008-09-06 21:32:28,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,...,1,0,0,1,Select form of one with denominator of one,1,Select form of one with denominator of one-1,1,UNIT-CONVERSION-SELECT-FRACTION-GOAL-NODE-Cond...,1
7680764,7680765,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-030,1,Denominator,2008-09-06 21:32:28,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,...,1,0,0,1,Enter denominator of converted unit,1,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,2
7680765,7680766,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-030,1,FinalAnswer,2008-09-06 21:32:28,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,2008-09-06 21:32:28.0,...,1,0,0,1,Convert small number units~~Convert integer un...,1~~1~~1~~1,Convert linear units-1~~Convert integer units-1,1~~1,UNIT-CONVERSION-CONVERTED-VALUE-HINTS-FRACTION...,1
7680766,7680767,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-002,1,MoreOrFewer,2008-09-06 21:33:28,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,...,1,0,0,1,Compare units,2,Compare units-1,2,UNIT-CONVERSION-RELATIVE-SIZE-GOAL-NODE-Condit...,2
7680767,7680768,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-002,1,ConversionFactorweeksdays,2008-09-06 21:33:28,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,...,1,0,0,1,Enter unit conversion,2,Enter unit conversion-1,2,UNIT-CONVERSION-CONVERSION-FACTOR-GOAL-NODE-Co...,2
7680768,7680769,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-002,1,SelectFractionweeksdays,2008-09-06 21:33:28,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,...,1,0,0,1,Select form of one with denominator of one,2,Select form of one with denominator of one-1,2,UNIT-CONVERSION-SELECT-FRACTION-GOAL-NODE-Cond...,2
7680769,7680770,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-002,1,Numerator,2008-09-06 21:33:28,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,...,1,0,0,1,Enter numerator of converted unit,2,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,3
7680770,7680771,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-002,1,Denominator,2008-09-06 21:33:28,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,...,1,0,0,1,Enter denominator of converted unit,2,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,4
7680771,7680772,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-002,1,FinalAnswer,2008-09-06 21:33:28,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,2008-09-06 21:33:28.0,...,1,0,0,1,Convert time units~~Convert small number units...,1~~2~~2~~1,Convert linear units-1~~Convert decimal units ...,2~~1,UNIT-CONVERSION-CONVERTED-VALUE-HINTS-FRACTION...,2
7680777,7680778,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-011,1,FinalAnswer,2008-09-06 21:33:56,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,...,1,0,0,1,Convert small number units~~Convert within sys...,3~~3~~2~~2,Convert linear units-1~~Convert decimal units ...,3~~2,UNIT-CONVERSION-CONVERTED-VALUE-HINTS-FRACTION...,3
7680776,7680777,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-011,1,Denominator,2008-09-06 21:33:56,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,...,1,0,0,1,Enter denominator of converted unit,3,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,6
7680775,7680776,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-011,1,Numerator,2008-09-06 21:33:56,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,...,1,0,0,1,Enter numerator of converted unit,3,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,5
7680772,7680773,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-011,1,MoreOrFewer,2008-09-06 21:33:56,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,...,0,1,0,1,Compare units,3,Compare units-1,3,UNIT-CONVERSION-RELATIVE-SIZE-GOAL-NODE-Condit...,3
7680773,7680774,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-011,1,ConversionFactorkilogramsgrams,2008-09-06 21:33:56,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,...,0,0,2,1,Enter unit conversion,3,Enter unit conversion-1,3,UNIT-CONVERSION-CONVERSION-FACTOR-GOAL-NODE-Co...,3
7680774,7680775,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-011,1,SelectFractionkilogramsgrams,2008-09-06 21:33:56,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,2008-09-06 21:33:56.0,...,1,0,0,1,Select form of one with denominator of one,3,Select form of one with denominator of one-1,3,UNIT-CONVERSION-SELECT-FRACTION-GOAL-NODE-Cond...,3
7680778,7680779,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-111,1,MoreOrFewer,2008-09-06 21:34:25,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,...,0,2,0,1,Compare units,4,Compare units-1,4,UNIT-CONVERSION-RELATIVE-SIZE-GOAL-NODE-Condit...,4
7680779,7680780,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-111,1,ConversionFactorUS tonspounds,2008-09-06 21:34:25,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,...,0,0,2,1,Enter unit conversion,4,Enter unit conversion-1,4,UNIT-CONVERSION-CONVERSION-FACTOR-GOAL-NODE-Co...,4
7680780,7680781,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-111,1,SelectFractionUS tonspounds,2008-09-06 21:34:25,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,...,1,0,0,1,Select form of one with denominator of one,4,Select form of one with denominator of one-1,4,UNIT-CONVERSION-SELECT-FRACTION-GOAL-NODE-Cond...,4
7680781,7680782,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-111,1,Numerator,2008-09-06 21:34:25,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,...,1,0,0,1,Enter numerator of converted unit,4,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,7
7680782,7680783,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-111,1,Denominator,2008-09-06 21:34:25,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,...,1,0,0,1,Enter denominator of converted unit,4,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HIN...,8
7680783,7680784,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-111,1,FinalAnswer,2008-09-06 21:34:25,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,2008-09-06 21:34:25.0,...,1,0,0,1,Convert small number units~~Convert within sys...,4~~4~~3~~3,Convert linear units-1~~Convert decimal units ...,4~~3,UNIT-CONVERSION-CONVERTED-VALUE-HINTS-FRACTION...,4
7680784,7680785,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-018,1,MoreOrFewer,2008-09-06 21:34:59,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,...,0,1,0,1,Compare units,5,Compare units-1,5,UNIT-CONVERSION-RELATIVE-SIZE-GOAL-NODE-Condit...,5
7680785,7680786,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-018,1,ConversionFactormonthsyears,2008-09-06 21:34:59,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,...,1,0,0,1,Enter unit conversion,5,Enter unit conversion-1,5,UNIT-CONVERSION-CONVERSION-FACTOR-GOAL-NODE-Co...,5
7680786,7680787,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-018,1,SelectFractionmonthsyears,2008-09-06 21:34:59,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,...,0,1,0,1,Select form of one with numerator of one,1,Select form of one with numerator of one-1,1,UNIT-CONVERSION-SELECT-FRACTION-GOAL-NODE-Cond...,5
7680788,7680789,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-018,1,Denominator,2008-09-06 21:34:59,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,...,1,0,0,1,Enter denominator of converted unit,5,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-HINTS-PARTN...,1
7680789,7680790,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-018,1,FinalAnswer,2008-09-06 21:34:59,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,...,0,2,0,1,Convert time units~~Convert small number units...,2~~5~~2~~5,Convert linear units-1~~Convert integer units-1,5~~2,UNIT-CONVERSION-CONVERTED-VALUE-HINTS-FRACTION...,5
7680787,7680788,stu_b4581374fd,"Unit UNIT-CONVERSIONS-ONE-STEP, Section UNIT-C...",UNITCONVERSION1-018,1,Numerator,2008-09-06 21:34:59,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,2008-09-06 21:34:59.0,...,1,0,0,1,Enter numerator of converted unit,5,NaN,NaN,UNIT-CONVERSION-FRACTION-COMPONENT-DEFAULT-HINTS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907835,8907836,stu_244b6a9fdd,"Unit CTA1_06, Section CTA1_06-3",FOR05,1,Series1AddCurve,NaT,2008-10-31 14:06:32.0,2008-10-31 14:06:32.0,2008-10-31 14:06:32.0,...,1,0,0,1,NaN,NaN,NaN,NaN,ADD-GRAPHER-LINE,28
8912236,8912237,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R1C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,NaN,NaN,NaN,NaN,LABEL-X-HELP,1
8912237,8912238,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R1C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,NaN,NaN,NaN,NaN,LABEL-Y-Z-HELP,1
8912238,8912239,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R2C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Identifying units,1,Identifying units-1,1,UNIT-HELP,1
8912239,8912240,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R2C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,0,1,0,1,Identifying units,2,Identifying units-1,2,UNIT-HELP,2
8912240,8912241,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R3C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Define Variable,1,NaN,NaN,VARIABLE-HELP,1
8912241,8912242,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R3C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,"Write expression, any form~~Write expression, ...",1~~1~~1~~1~~1~~1,Using small numbers-1~~Using simple numbers-1~...,1~~1~~1,STANDARD-MX-FORMULA-HELP,1
8912242,8912243,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R4C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,"Entering a given~~Enter given, reading words",1~~1,Entering a given-1,1,GIVEN-HELP-NONE,1
8912243,8912244,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R4C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Using small numbers~~Using simple numbers~~Fin...,2~~2~~1~~1,Using small numbers-1~~Using simple numbers-1,2~~2,CALCULATED-VALUE-GIVEN-X,1
8912244,8912245,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R5C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,"Entering a given~~Enter given, reading words~~...",2~~2~~1,Entering a given-1,2,GIVEN-HELP-STANDARD,1
8912245,8912246,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R5C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Using small numbers~~Using simple numbers~~Fin...,3~~3~~2~~2,Using small numbers-1~~Using simple numbers-1,3~~3,CALCULATED-VALUE-GIVEN-X,2
8912246,8912247,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R6C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,"Entering a given~~Enter given, reading words~~...",3~~3~~2,Entering a given-1,3,GIVEN-HELP-STANDARD,2
8912247,8912248,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R6C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Using small numbers~~Using simple numbers~~Fin...,4~~4~~3~~3,Using small numbers-1~~Using simple numbers-1,4~~4,CALCULATED-VALUE-GIVEN-X,3
8912248,8912249,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R7C1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,0,0,1,1,Using small numbers~~Using simple numbers~~Fin...,5~~5~~1~~1,Using small numbers-1~~Using simple numbers-1,5~~5,CALCULATED-VALUE-USE-THE-GRAPH,1
8912249,8912250,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,R7C2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,0,3,2,1,"Entering a given~~Enter given, reading numerals",4~~1,Entering a given-1,4,GIVEN-HELP-DONT-REPEAT-UNIT,1
8912250,8912251,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,YLabel,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,NaN,NaN,NaN,NaN,GRAPHER-AXIS-HELP-TWO-COLUMN-DIFFERENT-UNITS,1
8912251,8912252,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,XLabel,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Labelling the axes,1,NaN,NaN,GRAPHER-AXIS-HELP-TWO-COLUMN-DIFFERENT-UNITS,2
8912252,8912253,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,yMax,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Changing axis bounds,1,Changing axis bounds-1,1,SET-MAX-BOUND,1
8912253,8912254,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,yScale,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Changing axis intervals,1,Changing axis intervals-1,1,SET-SCALE,1
8912254,8912255,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,xMax,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Changing axis bounds,2,Changing axis bounds-1,2,SET-MAX-BOUND,2
8912255,8912256,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,xScale,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Changing axis intervals,2,Changing axis intervals-1,2,SET-SCALE,2
8912256,8912257,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1AddPoint1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,3,0,1,NaN,NaN,NaN,NaN,ADD-GRAPHER-POINT,1
8912257,8912258,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1PlotPoint1,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Correctly placing points,1,Correctly placing points-1,1,GRAPHER-POINT-GOOD-TO-GO,1
8912258,8912259,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1AddPoint2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,NaN,NaN,NaN,NaN,ADD-GRAPHER-POINT,2
8912259,8912260,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1PlotPoint2,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,Correctly placing points,2,Correctly placing points-1,2,GRAPHER-POINT-GOOD-TO-GO,2
8912260,8912261,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1AddPoint3,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,NaN,NaN,NaN,NaN,ADD-GRAPHER-POINT,3
8912261,8912262,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1PlotPoint3,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,0,6,2,1,Correctly placing points,3,Correctly placing points-1,3,GRAPHER-POINT-GOOD-TO-GO,3
8912262,8912263,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1AddPoint4,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,0,3,0,1,NaN,NaN,NaN,NaN,ADD-GRAPHER-POINT-USE-GRAPH,1
8912263,8912264,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1PlotPoint4,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,0,4,2,1,Correctly placing points,4,Correctly placing points-1,4,GRAPHER-PLACE-POINT-USE-GRAPH,1
8912264,8912265,stu_6af5d5e304,"Unit CTA1_02, Section CTA1_02-2",BH1T23A,1,Series1AddCurve,NaT,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,2008-09-23 20:19:58.0,...,1,0,0,1,NaN,NaN,NaN,NaN,ADD-GRAPHER-LINE,1

In order to minimize data errorï¼Œ we use the very first time of date to replace NaN value in data.

In [12]:
df['Step Start Time'] = df['Step Start Time'].apply(lambda x: x if not pd.isnull(x) else pd.to_datetime('2008-09-06 21:32:28'))

In [13]:
df['Step Start Time'].isnull().sum()

0

##### Column - 'Step Duration (sec)' , 'Correct Step Duration (sec)' and 'Error Step Duration (sec)'
These columns are seconds value. It's may have little error with true value. And i suppose it doesn't mean much to final result. So we just fill NaN or Null value with 0.

In [14]:
df['Step Duration (sec)'] = df['Step Duration (sec)'].fillna(0)
df['Correct Step Duration (sec)'] = df['Correct Step Duration (sec)'].fillna(0)
df['Error Step Duration (sec)'] = df['Error Step Duration (sec)'].fillna(0)

In [15]:
df['Step Duration (sec)'].isnull().sum()

0

In [16]:
df['Correct Step Duration (sec)'].isnull().sum()

0

In [17]:
df['Error Step Duration (sec)'].isnull().sum()

0

##### Columns - 'Correct Transaction Time'
We can see when 'Corrects' equals to 0, 'Correct Transaction Time' is null. It indicates when no correct attempt then there's no Correct Transaction.

In [18]:
tmp = df[df['Correct Transaction Time'].isnull()]
print(len(tmp.index))
print(len(tmp[tmp['Corrects'] == 0].index))

238090
238090

So let's put the data 'Correct Transaction Time' to a specical value rather than null or NaN, so that our model could process it later.

In [19]:
df['Correct Transaction Time'] = df['Correct Transaction Time'].apply(lambda x: x if not pd.isnull(x) else pd.to_datetime('2008-01-01 00:00:00'))

In [20]:
tmp = df[df['Correct Transaction Time'].isnull()]
print(len(tmp.index))
print(len(tmp[tmp['Corrects'] == 0].index))

0
0

In [21]:
df['First Transaction Time'] = pd.Series(pd.to_datetime(df['First Transaction Time']))
df['Step End Time'] = pd.Series(pd.to_datetime(df['Step End Time']))

print('Finish converting time data.')

Finish converting time data.

##### What left?
So what columns are left to be processed?

In [22]:
df.isnull().sum()

Row                                  0
Anon Student Id                      0
Problem Hierarchy                    0
Problem Name                         0
Problem View                         0
Step Name                            0
Step Start Time                      0
First Transaction Time               0
Correct Transaction Time             0
Step End Time                        0
Step Duration (sec)                  0
Correct Step Duration (sec)          0
Error Step Duration (sec)            0
Correct First Attempt                0
Incorrects                           0
Hints                                0
Corrects                             0
KC(SubSkills)                  2475917
Opportunity(SubSkills)         2475917
KC(KTracedSkills)              4498349
Opportunity(KTracedSkills)     4498349
KC(Rules)                       322051
Opportunity(Rules)              322051
dtype: int64

From the statistic numbers, we can see KC(model name) and Opportunity(model name) are pairs with some NaN value count. Which means records' KC and Opportunity with same module in parentheses must have some connection or something between these records.

In [23]:
df['KC(SubSkills)'].unique()

array(['Identifying units', 'Define Variable',
       'Write expression, any form~~Using simple numbers~~Using large numbers~~Write expression, positive intercept~~Write expression, negative slope~~Write Expression, mx+b',
       ...,
       'Write expression, negative intercept~~Using small numbers~~Using difficult numbers~~Write Expression, mx+b~~Write expression, any form~~Write expression, negative slope',
       'Excluding the line when shading~~Shading less than',
       '[SkillRule: Remove constant; {ax+b=c, positive; ax+b=c, negative; x+a=b, positive; x+a=b, negative; [var expr]+[const expr]=[const expr], positive; [var expr]+[const expr]=[const expr], negative; [var expr]+[const expr]=[const expr], all; Combine constants to right; Combine constants to left; a-x=b, positive; a/x+b=c, positive; a/x+b=c, negative}]~~[SkillRule: Isolate variable term in linear equation; {[var expr]+[const expr]=[const expr], positive; [var expr]+[const expr]=[const expr], negative; [var expr]+[const expr]=[const expr], all; x+a=b, negative; x+a=b, positive; ax+b=c, positive; ax+b=c, negative; ax-b=c, negative; a/x+b=c, positive; a/x+b=c, negative; a-x=b, positive}]~~[SkillRule: Select Simplify Fraction; {RF rational ratio; rf expression; RF left; RF right}]~~[SkillRule: Isolate y variable; {[var expr]+[const expr]=[const expr], positive; [var expr]+[const expr]=[const expr], negative; [var expr]+[const expr]=[const expr], all; [var expr]*[const expr] = [const expr], divide; [var expr]/[const expr] = [const expr], multiply}]'], dtype=object)

In [24]:
df['Opportunity(SubSkills)'].unique()

array(['1', '1~~1~~1~~1~~1~~1', '1~~1~~1', ..., '186~~439~~374',
       '430~~426~~113', '187~~440~~375'], dtype=object)

In [25]:
df['KC(KTracedSkills)'].unique()

array([nan,
       'Using simple numbers-1~~Using large numbers-1~~Write expression, negative slope-1',
       'Entering a given-1',
       'Using simple numbers-1~~Using large numbers-1~~Find Y, negative slope-1',
       'Compare units-1', 'Enter unit conversion-1',
       'Select form of one with numerator of one-1',
       'Convert linear units-1~~Convert integer units-1',
       'Select form of one with denominator of one-1',
       'Convert linear units-1~~Convert decimal units less than one-1',
       'Convert integer units-1~~Convert volume units-1',
       'Convert linear units-1~~Convert decimal units greater than one-1',
       'Convert integer units-1~~Convert area units-1',
       'Convert decimal units less than one-1~~Convert linear units-1',
       'Convert volume units-1~~Convert decimal units greater than one-1',
       'Identifying units-1',
       'Using small numbers-1~~Using simple numbers-1~~Write expression, positive slope-1',
       'Using small numbers-1~~Using simple numbers-1',
       'Changing axis bounds-1', 'Changing axis intervals-1',
       'Correctly placing points-1',
       'Using small numbers-1~~Using simple numbers-1~~Find Y, positive slope-1',
       'Using small numbers-1~~Using simple numbers-1~~Find X, positive slope-1',
       'Using simple numbers-1~~Write expression, positive slope-1',
       'Using simple numbers-1~~Find Y, positive slope-1',
       'Using simple numbers-1',
       'Using simple numbers-1~~Using large numbers-1~~Write expression, positive slope-1',
       'Using simple numbers-1~~Using large numbers-1~~Find Y, positive slope-1',
       'Using simple numbers-1~~Using large numbers-1',
       'Select Eliminate Parens - Whole-1',
       'Do Eliminate Parens - Whole-1', 'Do Multiply/Divide-1',
       'Select Combine Terms - Whole-1', 'Select Multiply - Whole-1',
       'Do Multiply - Whole (typein-expression-2)-1',
       'Select Multiply - Decimal-1', 'Select Combine Terms - Decimal-1',
       'Select Eliminate Parens - Decimal-1',
       'Do Eliminate Parens - Decimal-1', 'Do Multiply - Decimal-1',
       'Isolate positive-1', 'Isolate negative-1',
       'Remove positive coefficient-1', 'Remove negative coefficient-1',
       'Make variable positive-1',
       'Using small numbers-1~~Write expression, any form-1~~Using difficult numbers-1',
       'Using small numbers-1~~Using difficult numbers-1',
       'Using small numbers-1~~Using difficult numbers-1~~Find X, any form-1',
       'Using small numbers-1~~Write expression, positive slope-1~~Using difficult numbers-1',
       'Find X, positive slope-1~~Using difficult numbers-1~~Using small numbers-1',
       'Using small numbers-1~~Find X, positive slope-1~~Using difficult numbers-1',
       'Write expression, positive slope-1', 'Find X, positive slope-1',
       'Write expression, positive slope-1~~Using difficult numbers-1',
       'Using difficult numbers-1',
       'Find X, positive slope-1~~Using difficult numbers-1',
       'Enter ratio label in numerator-1',
       'Enter ratio label in denominator-1',
       'Enter given ratio numerator-1', 'Enter given ratio denominator-1',
       'Identify that a fraction can/cannot be simplified-1',
       'Enter ratio label to left of "to"-1',
       'Enter ratio label to right of "to"-1',
       'Enter ratio quantity to left of "to"-1',
       'Enter ratio quantity to right of "to"-1',
       'Enter ratio using a colon-1',
       'Calculate ratio numerator from given-1',
       'Enter ratio label to left of colon-1',
       'Enter ratio label to right of colon-1',
       'Enter ratio quantity to left of colon-1',
       'Enter ratio quantity to right of colon-1',
       'Calculate ratio denominator from given-1',
       'Enter rate label in numerator-1',
       'Enter rate label in denominator-1', 'Enter given rate numerator-1',
       'Enter given rate denominator-1',
       'Enter rate label to left of "per"-1',
       'Enter rate label to right of "per"-1', 'Calculate unit rate-1',
       'Compare unit rates-1', 'Enter proportion label in numerator-1',
       'Enter proportion label in denominator-1',
       'Enter numerator of given unit rate in proportion-1',
       'Enter denominator of given unit rate in proportion-1',
       'Enter given part in proportion-1',
       'Enter total in proportion with variable-1',
       'Choose operator in fractional identity-1',
       'Enter denominator of form of 1-1',
       'Enter numerator of form of 1-1',
       'Calculate total in proportion with fractions-1',
       'Enter Calculated value of rate-1',
       'Enter numerator of given rate in proportion-1',
       'Enter denominator of given rate in proportion-1',
       'Enter given total in proportion-1',
       'Enter part in proportion with variable-1',
       'Calculate part in proportion with fractions-1',
       'Enter numerator of given fraction in proportion-1',
       'Enter denominator of given fraction in proportion-1',
       'Enter Calculated value of ratio-1',
       'Enter second mean in equation-1',
       'Enter second extreme in equation-1',
       'Enter first extreme in equation-1',
       'Enter first mean in equation-1',
       'Calculate product of means or extremes-1',
       'Calculate solution with means and extremes using simple numbers-1',
       'Calculate solution with means and extremes using difficult numbers-1',
       'Write expression, any form-1', 'Find X, any form-1',
       'Remove Coefficient in two-step equation (integers)-1',
       'Remove Constant in two-step equation (integers)-1',
       'Remove Coefficient in x/a+b=c-1', 'Remove Constant in x/a+b=c-1',
       'Convert linear units-1~~Convert integer units-1~~Convert within system-1',
       'Convert linear units-1~~Convert decimal units less than one-1~~Convert across system-1',
       'Convert decimal units less than one-1~~Convert area units-1~~Convert across system-1',
       'Convert decimal units less than one-1~~Convert volume units-1~~Convert across system-1',
       'Convert linear units-1~~Convert integer units-1~~Convert across system-1',
       'Convert within system-1~~Convert linear units-1~~Convert integer units-1',
       'Convert volume units-1~~Convert decimal units greater than one-1~~Convert across system-1',
       'Convert linear units-1~~Convert decimal units greater than one-1~~Convert across system-1',
       'Convert integer units-1~~Convert volume units-1~~Convert within system-1',
       'Using small numbers-1~~Write expression, any form-1',
       'Using small numbers-1',
       'Find X, any slope-1~~Using small numbers-1',
       'Using small numbers-1~~Find X, any slope-1',
       'Using large numbers-1~~Write expression, any form-1',
       'Using large numbers-1',
       'Using large numbers-1~~Find X, any slope-1',
       'Consolidate Vars With Coeff (strategic-integers)-1',
       'Isolate Variable (strategic-integers)-1',
       'Remove Coefficient (strategic-integers)-1',
       'Consolidate Vars with Coeff (strategic-integer/float)-1',
       'Remove Coefficient (strategic-integer/float)-1',
       'Write simple inequality in contextual problem-1',
       'Represent openpoint on numberline-1',
       'Represent ray on numberline-1',
       'Identify when finished with numberline-1',
       'Identify visible non-inflection point is in solution set-1',
       'Identify invisible non-inflection point is not in solution set-1',
       'Identify visible non-inflection point is not in solution set-1',
       'Represent closedpoint on numberline-1',
       'Identify when finished with numberline-1~~Represent inequality in symbolic problem-1',
       'Identify inflection point in solution set-1',
       'Identify inflection point not in solution set-1',
       'Identify invisible non-inflection point is in solution set-1',
       'Write simple inequality in verbal problem-1',
       'Write compound inequality in verbal problem-1',
       'Join inequalities with AND-1', 'Join inequalities with OR-1',
       'Identify inflection point not in solution set-1~~Identify inflection point in solution set-1',
       'Write compound inequality in symbolic problem-1',
       'Identify type of solution-1', 'Eliminate Parentheses-1',
       'Calculate Eliminate Parentheses-1',
       'Eliminate Parentheses (decimal)-1',
       'Calculate Eliminate Parentheses (decimal)-1',
       'Eliminate Parentheses (large, decimal)-1',
       'Using simple numbers-1~~Write expression, any form-1',
       'Using simple numbers-1~~Find X, any form-1',
       'Find X, any form-1~~Using simple numbers-1',
       'Write expression, any form-1~~Using difficult numbers-1',
       'Using difficult numbers-1~~Find X, any form-1',
       'Plot point between minor tick marks - integer major/minor-1~~Plot non-terminating proper fraction-1',
       'Plot percent-1~~Plot point on minor tick mark - fractional major/minor-1',
       'Plot decimal - tenths-1~~Plot point on major tick mark - fractional major/minor-1',
       'Plot whole number-1~~Plot point on minor tick mark - integer major/minor-1',
       'Plot point between minor tick marks - integer major/minor-1~~Plot non-terminating mixed number-1',
       'Plot terminating proper fraction-1~~Plot point on minor tick mark - fractional major/minor-1',
       'Plot point on minor tick mark - integer major fractional minor-1~~Plot terminating improper fractions-1',
       'Plot point between minor tick marks - integer major fractional minor-1~~Plot percent-1',
       'Plot point between minor tick marks - integer major fractional minor-1~~Plot pi-1',
       'Plot terminating mixed number-1~~Plot point on minor tick mark - integer major fractional minor-1',
       'Plot point between minor tick marks - fractional major/minor-1~~Plot decimal - thousandths-1',
       'Plot perfect radical-1~~Plot point on minor tick mark - integer major/minor-1',
       'Plot terminating improper fractions-1~~Plot point between minor tick marks - fractional major/minor-1',
       'Plot whole number-1~~Plot point on major tick mark - integer major any minor-1',
       'Plot terminating mixed number-1~~Plot point between minor tick marks - fractional major/minor-1',
       'Plot point between minor tick marks - integer major fractional minor-1~~Plot imperfect radical-1',
       'Plot point between minor tick marks - integer major fractional minor-1~~Plot non-terminating improper fraction-1',
       'Plot point between minor tick marks - integer major fractional minor-1~~Plot decimal - hundredths-1',
       'Plot point between minor tick marks - integer major/minor-1~~Plot imperfect radical-1',
       'Plot terminating mixed number-1~~Plot point on minor tick mark - fractional major/minor-1',
       'Plot decimal - hundredths-1~~Plot point on minor tick mark - fractional major/minor-1',
       'Plot terminating mixed number-1~~Plot point on major tick mark - fractional major/minor-1',
       'Plot terminating improper fractions-1~~Plot point on minor tick mark - fractional major/minor-1',
       'Write absolute value equation',
       'Classify equation as having two solutions',
       'Classify equation as having one solution',
       'Classify equation as having no solution',
       'Solve equation having one solution',
       'Solve equation having two solutions',
       'Write absolute value inequality',
       'Choose form of compound inequality',
       'Classify inequality as having a segment as solution',
       'Classify inequality as having two rays as solution',
       'Classify inequality as having all real numbers except a point as solution',
       'Classify inequality as having all real numbers as solution',
       'Plot solution of less than inequality on number line',
       'Classify inequality as having no solution',
       'Plot solution of less than or equal to inequality on number line',
       'Classify inequality as having one solution',
       'Write expression, any form-1~~Using simple numbers-1',
       'Setting the y-intercept-1', 'Setting the slope-1',
       'Entering the y-intercept-1', 'Entering the slope-1',
       'Find slope-intercept form from point-slope form-1',
       'Enter given point-1', 'Enter given slope from context-1',
       'Enter given point from context-1',
       'Enter point-slope form from given point and slope-1',
       'Enter given intercept from context-1',
       'Enter point-slope form from given intercept and slope-1',
       'Enter given slope-1',
       'Find slope of decreasing line-1~~Find slope using points in quadrant 3-1',
       'Find slope using points across quadrants-1~~Find slope of increasing line-1',
       'Find slope of horizontal line-1~~Find slope using points in quadrant 1-1',
       'Find slope of decreasing line-1~~Find slope using points in quadrants 2 or 4-1',
       'Find slope of horizontal line-1~~Find slope using points in quadrant 3-1',
       'Find slope using points in quadrants 2 or 4-1~~Find slope of increasing line-1',
       'Find slope of decreasing line-1~~Find slope using points across quadrants-1',
       'Find slope of decreasing line-1~~Find slope using points in quadrant 1-1',
       'Find slope of increasing line-1~~Find slope using points in quadrant 3-1',
       'Find slope using points in quadrants 2 or 4-1~~Find slope of horizontal line-1',
       'Find slope of increasing line-1~~Find slope using points in quadrant 1-1',
       'Find slope of horizontal line-1~~Find slope using points across quadrants-1',
       'Find slope from two given points-1',
       'Enter point-slope form from two given points-1',
       'Enter slope from equation of parallel line-1',
       'Enter slope from given slope-intercept form-1',
       'Enter given slope-intercept form-1',
       'Enter point-slope form from calculated point and slope-1',
       'Find slope-intercept form from parallel line-1',
       'Enter slope from equation of perpendicular line-1',
       'Find slope-intercept form from perpendicular line-1',
       'Enter variable term-1', 'Enter product term-1',
       'Enter sum of products term-1',
       'Enter proportional constant term-1',
       'Describe proportional constant term-1', 'Enter constant term-1',
       'Describe constant term-1', 'Describe variable term-1',
       'Describe product term-1', 'Describe sum of products term-1',
       'Enter full expression-1', 'Extract to consolidate vars literal-1',
       'Remove coefficient literal-1',
       'Extract to consolidate vars - whole literal-1',
       'Remove Constant literal-1',
       'Calculate Eliminate Parentheses (distribute)-1',
       'Labelling point of intersection-1',
       'Slope-Intercept Pair/Intersection X value-1',
       'Mixed Equation Pair/Intersection X value-1',
       'General Linear Pair/Intersection X value-1',
       'Shade greater than (or equal) relation-1~~Shade greater than or equal or less than or equal-1~~Shade SIF with positive slope-1',
       'Shade less than (or equal) relation-1~~Shade strict greater or less than-1~~Shade SIF with negative slope-1',
       'Shade greater than or equal or less than or equal-1~~Shade less than (or equal) relation-1~~Shade GLF with negative slope-1',
       'Shade greater than (or equal) relation-1~~Shade strict greater or less than-1~~Shade GLF with positive slope-1',
       'Shade greater than or equal or less than or equal-1~~Shade less than (or equal) relation-1~~Shade SIF with negative slope-1',
       'Shade greater than or equal or less than or equal-1~~Shade less than (or equal) relation-1~~Shade GLF with positive slope-1',
       'Shade greater than (or equal) relation-1~~Shade greater than or equal or less than or equal-1~~Shade GLF with negative slope-1',
       'Shade less than (or equal) relation-1~~Shade strict greater or less than-1',
       'Shade greater than (or equal) relation-1~~Shade greater than or equal or less than or equal-1',
       'Shade less than (or equal) relation-1~~Shade strict greater or less than-1~~Shade GLF with positive slope-1',
       'Shade greater than or equal or less than or equal-1~~Shade SIF with positive slope-1~~Shade less than (or equal) relation-1',
       'Shade greater than (or equal) relation-1~~Shade strict greater or less than-1~~Shade GLF with negative slope-1',
       'Shade greater than (or equal) relation-1~~Shade strict greater or less than-1~~Shade SIF with negative slope-1',
       'Shade greater than (or equal) relation-1~~Shade SIF with positive slope-1~~Shade strict greater or less than-1',
       'Shade greater than (or equal) relation-1~~Shade greater than or equal or less than or equal-1~~Shade SIF with negative slope-1',
       'Finding the intersection-1', 'Finding the region-1',
       'Shade greater than or equal or less than or equal-1~~Shade GLF with positive slope-1~~Shade greater than (or equal) relation-1',
       'Shade greater than (or equal) relation-1~~Shade greater than or equal or less than or equal-1~~Shade GLF with positive slope-1',
       'Type a variable in a formula cell-1',
       'Type a linear expression in a formula cell-1',
       'Type a quadratic expression in a formula cell-1',
       'Type given value of linear quantity-1',
       'Type linear answer to question-1',
       'Type quadratic area answer to question-1',
       'Type given value of a full quadratic-1',
       'Construct square from side length-1',
       'Write given whole number as square-1',
       'Find positive square root-1', 'Find negative square root-1',
       'Construct square from area-1',
       'Write given square as whole number-1',
       'Choose non-perfect square-1', 'Identify lower perfect square-1',
       'Identify upper perfect square-1',
       'Identify lower square root as whole number-1',
       'Identify upper square root as whole number-1',
       'Identify approximation as lower half-1',
       'Identify lower square root as tenths decimal-1',
       'Identify upper square root as tenths decimal-1',
       'Enter square root to tenths place-1', 'Entering-QFT-Num1-1',
       'Entering-QFT-Num2-1', 'Entering-QFT-Den-1',
       'Type variable in a formula cell-1',
       'Type quadratic expression in a formula cell-1',
       'Type given value of a variable-1',
       'Enter a variable value as answer to question-1',
       'Enter a quadratic value as answer to question-1',
       'Type given value of a variable-1~~Enter a variable value as answer to question-1',
       'Identify no more factors-1',
       'Write base of exponential from given whole number-1',
       'Write positive exponent of exponential from given number-1',
       'Write base of exponential from given whole number as product-1',
       'Write positive exponent of exponential from given number as product-1',
       'Write whole number from given number as product-1',
       'Write whole number from given exponential-1',
       'Write base of exponential from given fraction-1',
       'Write negative exponent of exponential from given number-1',
       'Write fraction from given exponential-1',
       'Write base of exponential from given fraction as product-1',
       'Write negative exponent of exponential from given number as product-1',
       'Write fraction from given number as product-1',
       'Write whole number multiplier from given scientific notation-1',
       'Write positive power of ten from given scientific notation-1',
       'Write number from positive exponent-1~~Write number from whole number multiplier-1',
       'Write whole number multiplier from given number-1',
       'Write positive power of ten from given number-1',
       'Write whole number multiplier of scientific notation-1',
       'Write positive exponent of scientific notation-1',
       'Write decimal multiplier from given number-1',
       'Write decimal multiplier of scientific notation-1',
       'Write number from positive exponent-1',

In [26]:
df['Opportunity(KTracedSkills)'].unique()

array([nan, '1~~1~~1', '1', ..., '59~~94', '62~~97', '6~~91'], dtype=object)

In [27]:
df['KC(Rules)'].unique()

array(['UNIT-HELP', 'VARIABLE-HELP', 'STANDARD-MX+B-FORMULA-HELP', ...,
       '[Rule: MT no fraction coeff ([SolverOperation mt],)]~~[Rule: manipulate wrong side (null,{constant side expression})]~~[Rule: MT no fraction coeff (null,right)]~~[Rule: rf before mt ([SolverOperation rf],null)]',
       '[Rule: RF left, move neg. to numerator ([SolverOperation rf],{components with property canReduceFractionsNoMultWhole of left})]~~[Rule: multiply negative coeff ([SolverOperation multiply],{negative of reciprocal of coefficient of item 1 of variable terms of variable side expression})]',
       '[Rule: ax+b=cx+d, pos ([SolverOperation subtract],{item 1 of variable terms of left side})]~~[Rule: add positive term ([SolverOperation add],{item 1 of constant terms of variable side expression})]'], dtype=object)

In [28]:
df['Opportunity(Rules)'].unique()

array(['1', '2', '3', ..., '9~~104', '10~~106', '55~~3~~1~~1'], dtype=object)

In [29]:
df['Opportunity(Rules)'] = df['Opportunity(Rules)'].fillna(1)
df['Opportunity(KTracedSkills)'] = df['Opportunity(KTracedSkills)'].fillna(1)
df['Opportunity(SubSkills)'] = df['Opportunity(SubSkills)'].fillna(1)

# Fill NaN value with special value
df['KC(Rules)'] = df['KC(Rules)'].fillna("COMMON")
df['KC(KTracedSkills)'] = df['KC(KTracedSkills)'].fillna("COMMON")
df['KC(SubSkills)'] = df['KC(SubSkills)'].fillna("COMMON")

In [30]:
df.isnull().sum()

Row                            0
Anon Student Id                0
Problem Hierarchy              0
Problem Name                   0
Problem View                   0
Step Name                      0
Step Start Time                0
First Transaction Time         0
Correct Transaction Time       0
Step End Time                  0
Step Duration (sec)            0
Correct Step Duration (sec)    0
Error Step Duration (sec)      0
Correct First Attempt          0
Incorrects                     0
Hints                          0
Corrects                       0
KC(SubSkills)                  0
Opportunity(SubSkills)         0
KC(KTracedSkills)              0
Opportunity(KTracedSkills)     0
KC(Rules)                      0
Opportunity(Rules)             0
dtype: int64

## Feature Engineer - CFAR

In [31]:
tmpdf = df.groupby(['Anon Student Id','Correct First Attempt'], as_index=False).count()

In [32]:
tmpdf.head()

,Anon Student Id,Correct First Attempt,Row,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,...,Error Step Duration (sec),Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules)
0,stu_000d56dbbb,0,789,789,789,789,789,789,789,789,...,789,789,789,789,789,789,789,789,789,789
1,stu_000d56dbbb,1,5395,5395,5395,5395,5395,5395,5395,5395,...,5395,5395,5395,5395,5395,5395,5395,5395,5395,5395
2,stu_0018382601,0,1089,1089,1089,1089,1089,1089,1089,1089,...,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089
3,stu_0018382601,1,4624,4624,4624,4624,4624,4624,4624,4624,...,4624,4624,4624,4624,4624,4624,4624,4624,4624,4624
4,stu_002821e04e,0,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33

In [33]:
tmpdf = tmpdf.loc[:, ['Anon Student Id','Correct First Attempt', 'Row']]
tmpdf.head()

  Anon Student Id  Correct First Attempt   Row
0  stu_000d56dbbb                      0   789
1  stu_000d56dbbb                      1  5395
2  stu_0018382601                      0  1089
3  stu_0018382601                      1  4624
4  stu_002821e04e                      0    33

In [34]:
tmpdf2 = df.groupby(['Anon Student Id'], as_index=False).count()
tmpdf2 = tmpdf2.loc[:, ['Anon Student Id', 'Row']]
tmpdf2.head()

  Anon Student Id   Row
0  stu_000d56dbbb  6184
1  stu_0018382601  5713
2  stu_002821e04e   212
3  stu_003f10a343  2035
4  stu_004a3f900a  1213

In [35]:
tmpdf = tmpdf.merge(tmpdf2, left_on=['Anon Student Id'], right_on=['Anon Student Id'], how='left')
tmpdf.head()

  Anon Student Id  Correct First Attempt  Row_x  Row_y
0  stu_000d56dbbb                      0    789   6184
1  stu_000d56dbbb                      1   5395   6184
2  stu_0018382601                      0   1089   5713
3  stu_0018382601                      1   4624   5713
4  stu_002821e04e                      0     33    212

In [36]:
tmpdf = tmpdf[tmpdf['Correct First Attempt'] == 1]
tmpdf.head()

  Anon Student Id  Correct First Attempt  Row_x  Row_y
1  stu_000d56dbbb                      1   5395   6184
3  stu_0018382601                      1   4624   5713
5  stu_002821e04e                      1    179    212
7  stu_003f10a343                      1   1712   2035
9  stu_004a3f900a                      1   1012   1213

In [37]:
# Row_x is students' total correct count
# Row_y is students' total attempt count
tmpdf['CFAR'] = tmpdf['Row_x'] / tmpdf['Row_y']
tmpdf.head()

  Anon Student Id  Correct First Attempt  Row_x  Row_y      CFAR
1  stu_000d56dbbb                      1   5395   6184  0.872413
3  stu_0018382601                      1   4624   5713  0.809382
5  stu_002821e04e                      1    179    212  0.844340
7  stu_003f10a343                      1   1712   2035  0.841278
9  stu_004a3f900a                      1   1012   1213  0.834295

Put CFAR back to original data frame

In [38]:
tmpdf = tmpdf.loc[:, ['Anon Student Id', 'CFAR']]
df = df.merge(tmpdf, left_on=['Anon Student Id'], right_on=['Anon Student Id'], how='left')
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR
0,1,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R2C1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,3,1,1,Identifying units,1,COMMON,1,UNIT-HELP,1,0.889209
1,2,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,0,0,1,Define Variable,1,COMMON,1,VARIABLE-HELP,1,0.889209
2,3,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C2,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,0,0,1,"Write expression, any form~~Using simple numbe...",1~~1~~1~~1~~1~~1,Using simple numbers-1~~Using large numbers-1~...,1~~1~~1,STANDARD-MX+B-FORMULA-HELP,1,0.889209
3,4,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,1,0,1,"Entering a given~~Enter given, reading words~~...",1~~1~~1,Entering a given-1,1,GIVEN-HELP-NON-NUMERIC-PHRASE,1,0.889209
4,5,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C2,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,0,0,1,"Using simple numbers~~Find Y, any form~~Using ...",2~~1~~2~~1,Using simple numbers-1~~Using large numbers-1~...,2~~2~~1,CALCULATED-VALUE-HELP-MX+B-GIVEN-X-ZERO,1,0.889209

In [39]:
# For the purpose of saving memory 
del tmpdf
del tmpdf2

Now we can see CFAR has been put into original data.

In [40]:
df['Opportunity(SubSkills)'].unique()

array(['1', '1~~1~~1~~1~~1~~1', '1~~1~~1', ..., '186~~439~~374',
       '430~~426~~113', '187~~440~~375'], dtype=object)

In [41]:
df['Opportunity(KTracedSkills)'].unique()

array([1, '1~~1~~1', '1', ..., '59~~94', '62~~97', '6~~91'], dtype=object)

In [42]:
df['Opportunity(Rules)'].unique()

array(['1', '2', '3', ..., '9~~104', '10~~106', '55~~3~~1~~1'], dtype=object)

In [43]:
df.to_hdf('train_data.hdf','data',mode='w') 

print("Save data to hdf file.")

/Users/michaelfeng/anaconda2/envs/py3k/lib/python3.6/site-packages/pandas/core/generic.py:1282: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block3_values] [items->['Anon Student Id', 'Problem Hierarchy', 'Problem Name', 'Step Name', 'Correct Transaction Time', 'KC(SubSkills)', 'Opportunity(SubSkills)', 'KC(KTracedSkills)', 'Opportunity(KTracedSkills)', 'KC(Rules)', 'Opportunity(Rules)']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

Save data to hdf file.

### Check point

In [1]:
import pandas as pd
df = pd.read_hdf('train_data.hdf','data')
print('Finish load data.')

Finish load data.

## Feature Engineer - One-hot encoding

In [2]:
# In order to decreace data's memory usage, we need to do a little process
df['Opportunity(SubSkills)'] = df['Opportunity(SubSkills)'].apply(lambda x: x if "~" not in str(x) else x.replace('~~','~'))
df['Opportunity(KTracedSkills)'] = df['Opportunity(KTracedSkills)'].apply(lambda x: x if "~" not in str(x) else x.replace('~~','~'))
df['Opportunity(Rules)'] = df['Opportunity(Rules)'].apply(lambda x: x if "~" not in str(x) else x.replace('~~','~'))
df['KC(SubSkills)'] = df['KC(SubSkills)'].apply(lambda x: x if "~" not in str(x) else x.replace('~~','~'))
df['KC(KTracedSkills)'] = df['KC(KTracedSkills)'].apply(lambda x: x if "~" not in str(x) else x.replace('~~','~'))
df['KC(Rules)'] = df['KC(Rules)'].apply(lambda x: x if "~" not in str(x) else x.replace('~~','~'))

In [3]:
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR
0,1,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R2C1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,3,1,1,Identifying units,1,COMMON,1,UNIT-HELP,1,0.889209
1,2,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,0,0,1,Define Variable,1,COMMON,1,VARIABLE-HELP,1,0.889209
2,3,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R3C2,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,0,0,1,"Write expression, any form~Using simple number...",1~1~1~1~1~1,Using simple numbers-1~Using large numbers-1~W...,1~1~1,STANDARD-MX+B-FORMULA-HELP,1,0.889209
3,4,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,1,0,1,"Entering a given~Enter given, reading words~En...",1~1~1,Entering a given-1,1,GIVEN-HELP-NON-NUMERIC-PHRASE,1,0.889209
4,5,stu_de2777346f,"Unit CTA1_01, Section CTA1_01-3",REAL20B,1,R4C2,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46.0,2008-09-19 13:30:46,...,0,0,1,"Using simple numbers~Find Y, any form~Using la...",2~1~2~1,Using simple numbers-1~Using large numbers-1~F...,2~2~1,CALCULATED-VALUE-HELP-MX+B-GIVEN-X-ZERO,1,0.889209

- One-hot encoding: Anon Student Id

In [4]:
id_df = df['Anon Student Id'].unique()
id_df

array(['stu_de2777346f', 'stu_b08a3605ac', 'stu_f3cd0a315f', ...,
       'stu_e2e1cce3c4', 'stu_244b6a9fdd', 'stu_6af5d5e304'], dtype=object)

In [5]:
len(id_df)

3310

In [6]:
id_dict = dict(enumerate(id_df))

In [7]:
id_dict = {v: k for k, v in id_dict.items()}

In [8]:
id_dict

{'stu_de2777346f': 0,
 'stu_b08a3605ac': 1,
 'stu_f3cd0a315f': 2,
 'stu_cfb96da1cc': 3,
 'stu_e24aa8c101': 4,
 'stu_29de16cb51': 5,
 'stu_3da864f9c7': 6,
 'stu_7a4c314585': 7,
 'stu_b082c157c5': 8,
 'stu_948dbd21fd': 9,
 'stu_d40421e984': 10,
 'stu_d69d4f04e0': 11,
 'stu_470623952c': 12,
 'stu_e41db96ccd': 13,
 'stu_a20a6551e5': 14,
 'stu_c0c538f7e8': 15,
 'stu_3045559e59': 16,
 'stu_0142fbb2a7': 17,
 'stu_636f6e1ba4': 18,
 'stu_7c87107804': 19,
 'stu_e2a459ce90': 20,
 'stu_d3f3938302': 21,
 'stu_8099339ed4': 22,
 'stu_7453edd269': 23,
 'stu_e0cfbb5f61': 24,
 'stu_7a0fc0aab3': 25,
 'stu_1346115f12': 26,
 'stu_94b8f9bc86': 27,
 'stu_dde85a3a6a': 28,
 'stu_79061638bf': 29,
 'stu_ffb64665c3': 30,
 'stu_cfe8cd60cd': 31,
 'stu_befce87cd1': 32,
 'stu_8857af329a': 33,
 'stu_c9bd49579c': 34,
 'stu_41b3ea9077': 35,
 'stu_1e5b9da97f': 36,
 'stu_af364eb7cb': 37,
 'stu_e9983c110d': 38,
 'stu_4be4c74a63': 39,
 'stu_6be73bc2c2': 40,
 'stu_5e8ffe11c0': 41,
 'stu_129353eed5': 42,
 'stu_c84b293e94': 43,
 'stu_ef441805d9': 44,
 'stu_46363e19a5': 45,
 'stu_3d11863342': 46,
 'stu_e5ada900f8': 47,
 'stu_ec923e992e': 48,
 'stu_11a96cad61': 49,
 'stu_8385303223': 50,
 'stu_330a624aad': 51,
 'stu_7fcd0d8ab8': 52,
 'stu_c167b46ba4': 53,
 'stu_922b50b195': 54,
 'stu_5aac977c3f': 55,
 'stu_05243b811a': 56,
 'stu_0241c49d30': 57,
 'stu_58bc9a66e7': 58,
 'stu_a06d79310c': 59,
 'stu_9e144ffc7d': 60,
 'stu_96b96675fa': 61,
 'stu_b1f90ee5ce': 62,
 'stu_2b59dba79f': 63,
 'stu_84adbdb4f7': 64,
 'stu_4f436df727': 65,
 'stu_fbf123339b': 66,
 'stu_e0d3fc7aea': 67,
 'stu_01be949a86': 68,
 'stu_b0417c4e2f': 69,
 'stu_1366adddbf': 70,
 'stu_5cc9533808': 71,
 'stu_667cf23635': 72,
 'stu_a034b14c74': 73,
 'stu_bb3ff1cb14': 74,
 'stu_5f4c66cbe8': 75,
 'stu_9716958005': 76,
 'stu_4761409d74': 77,
 'stu_295135e60e': 78,
 'stu_f2a008ec0f': 79,
 'stu_3bdea66a81': 80,
 'stu_14177f33c6': 81,
 'stu_084ad3392d': 82,
 'stu_38679a75de': 83,
 'stu_9f6dab610a': 84,
 'stu_12d111c45d': 85,
 'stu_a393c30ef4': 86,
 'stu_dcf508b77b': 87,
 'stu_0a698c3f57': 88,
 'stu_77c84845c0': 89,
 'stu_840c58e3b6': 90,
 'stu_0bc92a229c': 91,
 'stu_665c8f0b39': 92,
 'stu_747d62a1a4': 93,
 'stu_d6c0759bc7': 94,
 'stu_08f222c6e7': 95,
 'stu_f29a9530fc': 96,
 'stu_c645ea273c': 97,
 'stu_ceec368f59': 98,
 'stu_c6254eed42': 99,
 'stu_f500a51c38': 100,
 'stu_33b5e32233': 101,
 'stu_8499772f61': 102,
 'stu_f316d94bb1': 103,
 'stu_df2ed3081a': 104,
 'stu_d3a00cca51': 105,
 'stu_4e52aeb9e8': 106,
 'stu_3b2176de2f': 107,
 'stu_bf39f79559': 108,
 'stu_b7b265a5cf': 109,
 'stu_89a13c0d9c': 110,
 'stu_8d11888d34': 111,
 'stu_da9d232f5a': 112,
 'stu_55675b8827': 113,
 'stu_d7e0a4bdca': 114,
 'stu_89620f1262': 115,
 'stu_db30d687a1': 116,
 'stu_084cf24069': 117,
 'stu_5f4e7ad0bc': 118,
 'stu_fb80e07ec8': 119,
 'stu_a5f3c12fda': 120,
 'stu_cc650c2169': 121,
 'stu_58d164f5b5': 122,
 'stu_9e2e313d77': 123,
 'stu_9a81311225': 124,
 'stu_a63b30c044': 125,
 'stu_aa06fba42c': 126,
 'stu_49e4039585': 127,
 'stu_7421a060d3': 128,
 'stu_fd0bc01d90': 129,
 'stu_ac0a0a6a91': 130,
 'stu_f32912ebda': 131,
 'stu_955127a5fa': 132,
 'stu_43d1cc35df': 133,
 'stu_423b476f62': 134,
 'stu_f30efa2d77': 135,
 'stu_bfe4bc9bc7': 136,
 'stu_891c2e9db8': 137,
 'stu_a8a069431b': 138,
 'stu_cd9e5e26dd': 139,
 'stu_2c51729498': 140,
 'stu_5894555307': 141,
 'stu_5ae18502a3': 142,
 'stu_09f26aafa9': 143,
 'stu_6d9fe328a3': 144,
 'stu_a921f1b9f1': 145,
 'stu_eaa600850b': 146,
 'stu_f2da02e5c4': 147,
 'stu_7c527d406b': 148,
 'stu_3a9db6da17': 149,
 'stu_57f7df932e': 150,
 'stu_da498ec029': 151,
 'stu_560f32d4bc': 152,
 'stu_555f969046': 153,
 'stu_b685f9e2dd': 154,
 'stu_ea9f64b2e8': 155,
 'stu_47e0d2efbc': 156,
 'stu_9ef3dd1bd5': 157,
 'stu_8e9f9acb80': 158,
 'stu_fbbf565c01': 159,
 'stu_3c244500c0': 160,
 'stu_a0b8c2e824': 161,
 'stu_580ad14721': 162,
 'stu_78b7c68d08': 163,
 'stu_a2a318c236': 164,
 'stu_05a8adc955': 165,
 'stu_1c20272309': 166,
 'stu_5356ffb46a': 167,
 'stu_27fe27cd9f': 168,
 'stu_ee90965998': 169,
 'stu_82a74fa891': 170,
 'stu_5b50a039d5': 171,
 'stu_fcd32716c6': 172,
 'stu_e414f7f33d': 173,
 'stu_9d7e52e913': 174,
 'stu_462bdc993b': 175,
 'stu_78bd68d9c3': 176,
 'stu_94a44ceee3': 177,
 'stu_ed95056bbb': 178,
 'stu_03cf565d03': 179,
 'stu_e9c88aa1a8': 180,
 'stu_ec78cb53da': 181,
 'stu_44a868fe91': 182,
 'stu_7c65fa9b30': 183,
 'stu_25f41c2749': 184,
 'stu_c50862134e': 185,
 'stu_f7ece102a3': 186,
 'stu_0f6fed906e': 187,
 'stu_ed2ecb6159': 188,
 'stu_5bcdc561bd': 189,
 'stu_56b2925aa7': 190,
 'stu_1345507a70': 191,
 'stu_32fdfc941d': 192,
 'stu_53fd42bc5c': 193,
 'stu_176f99a659': 194,
 'stu_ff8b8aa6a3': 195,
 'stu_c364952cbc': 196,
 'stu_209648726e': 197,
 'stu_91e806d34f': 198,
 'stu_b4b71ff393': 199,
 'stu_c0658acdaa': 200,
 'stu_dbef1b595a': 201,
 'stu_bdd4a52ca2': 202,
 'stu_5e010af0c9': 203,
 'stu_bb0f80f67a': 204,
 'stu_4db36ac593': 205,
 'stu_89dbe77c05': 206,
 'stu_78be6aca64': 207,
 'stu_9827ff1ad9': 208,
 'stu_e2a0fbb569': 209,
 'stu_b76e161075': 210,
 'stu_2e65be4128': 211,
 'stu_4c8345711b': 212,
 'stu_e8b7a8ca06': 213,
 'stu_02ad1ba148': 214,
 'stu_81c9e042e3': 215,
 'stu_755113914c': 216,
 'stu_7bad024a0d': 217,
 'stu_a326158cc5': 218,
 'stu_ba9be98c8a': 219,
 'stu_8d1ba502ce': 220,
 'stu_5885930111': 221,
 'stu_c41defde83': 222,
 'stu_3dfabbc13a': 223,
 'stu_fec659c7ca': 224,
 'stu_452856fdac': 225,
 'stu_ee2793b045': 226,
 'stu_5a989950a5': 227,
 'stu_787eaf8c46': 228,
 'stu_925b304b0f': 229,
 'stu_2eba693874': 230,
 'stu_0d5105b896': 231,
 'stu_ad03c6f460': 232,
 'stu_d372852449': 233,
 'stu_063f6369bd': 234,
 'stu_b8cf74da8f': 235,
 'stu_b85eb7b4a0': 236,
 'stu_ec9accc0f4': 237,
 'stu_7c4758b2b9': 238,
 'stu_4e00ff1547': 239,
 'stu_d50d3b6fa7': 240,
 'stu_ad2dbf41be': 241,
 'stu_c12d3d07e3': 242,
 'stu_980d5ef043': 243,
 'stu_bee3b05e50': 244,
 'stu_9751d0a532': 245,
 'stu_f50c4fbc80': 246,
 'stu_e6b70d7caa': 247,
 'stu_710f8e6935': 248,
 'stu_8efeea96ef': 249,
 'stu_d0a159f5ce': 250,
 'stu_87ebf39871': 251,
 'stu_1799b4deed': 252,
 'stu_026f9588c7': 253,
 'stu_b3c92174f2': 254,
 'stu_cd8a99202d': 255,
 'stu_4949465bf8': 256,
 'stu_dd887d780d': 257,
 'stu_7f8a94f0d7': 258,
 'stu_99a364fa63': 259,
 'stu_fa5f35f9be': 260,
 'stu_5921248ef2': 261,
 'stu_6ce1150bf3': 262,
 'stu_6dec7b24a3': 263,
 'stu_1121f99f43': 264,
 'stu_0473046ff0': 265,
 'stu_9706d35390': 266,
 'stu_a895bab47f': 267,
 'stu_d091d826b5': 268,
 'stu_825e43ab5a': 269,
 'stu_0388d67f58': 270,
 'stu_037d7de462': 271,
 'stu_eb7ed1dfa4': 272,
 'stu_4fc78eeaa9': 273,
 'stu_b48e8974c5': 274,
 'stu_5871fb8ce3': 275,
 'stu_602213d77f': 276,
 'stu_9ac937ed64': 277,
 'stu_11fd427621': 278,
 'stu_c514fb151b': 279,
 'stu_3399935a53': 280,
 'stu_f4a0ca5cd1': 281,
 'stu_5fc03bd10d': 282,
 'stu_3a81c0d0bc': 283,
 'stu_57d3d7657b': 284,
 'stu_04b3347e0d': 285,
 'stu_ea396157a6': 286,
 'stu_7bd6b6a523': 287,
 'stu_05a923fe6c': 288,
 'stu_6536f3d71f': 289,
 'stu_26ad801b7e': 290,
 'stu_0ea113bea8': 291,
 'stu_bb9b103402': 292,
 'stu_d0530f38dd': 293,
 'stu_0bb0bc72dc': 294,
 'stu_91f7b2bfa6': 295,
 'stu_36b7cea405': 296,
 'stu_c5298e94c6': 297,
 'stu_280944c26c': 298,
 'stu_6cc4d3f03e': 299,
 'stu_72b34da13f': 300,
 'stu_5df74e0af8': 301,
 'stu_f540818e83': 302,
 'stu_29532b8361': 303,
 'stu_c8d4e2ca04': 304,
 'stu_305af9b376': 305,
 'stu_306bb1ea7a': 306,
 'stu_cadd519543': 307,
 'stu_21381dc532': 308,
 'stu_7cff95f90a': 309,
 'stu_e5a8964a1a': 310,
 'stu_4673f76ff1': 311,
 'stu_e75aff086d': 312,
 'stu_a7573e6bde': 313,
 'stu_3d7a802402': 314,
 'stu_eeb512006b': 315,
 'stu_b2dd0b543e': 316,
 'stu_fc2c33883e': 317,
 'stu_2ca6638500': 318,
 'stu_36ae2e55c6': 319,
 'stu_564163c1be': 320,
 'stu_d63db77f75': 321,
 'stu_a0e31801ec': 322,
 'stu_52acf1f373': 323,
 'stu_68d443f87c': 324,
 'stu_367e7b9d8d': 325,
 'stu_ae4d86158e': 326,
 'stu_5eb1724323': 327,
 'stu_2fa7d73732': 328,
 'stu_4df9c9cb21': 329,
 'stu_c584b0a93b': 330,
 'stu_5afa3d73cc': 331,
 'stu_17e9e60fd7': 332,
 'stu_b1f932fe9d': 333,
 'stu_8f9de5be02': 334,
 'stu_98087752e8': 335,
 'stu_9f3614864e': 336,
 'stu_3dfb3504b5': 337,
 'stu_c6fef5b5d9': 338,
 'stu_1a7d5b27d4': 339,
 'stu_3a96942034': 340,
 'stu_c2f09e6b38': 341,
 'stu_ec0b3ae1ca': 342,
 'stu_a82bd47845': 343,
 'stu_425758d75d': 344,
 'stu_0368946add': 345,
 'stu_06416eb0dc': 346,
 'stu_a8922e3831': 347,
 'stu_965af97ad2': 348,
 'stu_24d52a8a8d': 349,
 'stu_dd2d05d16c': 350,
 'stu_e87ffc4b3e': 351,
 'stu_bb4a77c969': 352,
 'stu_8e360dd6bb': 353,
 'stu_c11fb1e337': 354,
 'stu_0a588fc920': 355,
 'stu_cedf6046f5': 356,
 'stu_bcd1a8ca6b': 357,
 'stu_ae3eea9c11': 358,
 'stu_bdfeca3e82': 359,
 'stu_414c8d2f6b': 360,
 'stu_f5305f8b9d': 361,
 'stu_dac025f057': 362,
 'stu_994424c0f9': 363,
 'stu_a694d0d22c': 364,
 'stu_7e55599eae': 365,
 'stu_279ae9872c': 366,
 'stu_9df69dc8b8': 367,
 'stu_07b0b43b54': 368,
 'stu_688cdf8269': 369,
 'stu_4d95cfe7a4': 370,
 'stu_cf12f26644': 371,
 'stu_0105952e3f': 372,
 'stu_c0b34c6b22': 373,
 'stu_8d617881b6': 374,
 'stu_9ee23844ba': 375,
 'stu_cf834612bc': 376,
 'stu_227225bccf': 377,
 'stu_466b344666': 378,
 'stu_110806a4dd': 379,
 'stu_2846854375': 380,
 'stu_acf4d55f89': 381,
 'stu_0bf69eb649': 382,
 'stu_85a36c9f37': 383,
 'stu_3912fbe832': 384,
 'stu_ed3b9b6281': 385,
 'stu_c6aba58d97': 386,
 'stu_2fae8f4b25': 387,
 'stu_cea4f195b7': 388,
 'stu_1e5c1552fe': 389,
 'stu_f990a65c0e': 390,
 'stu_a25ac36a19': 391,
 'stu_070753c900': 392,
 'stu_5264bc83ef': 393,
 'stu_004a3f900a': 394,
 'stu_efac6d7807': 395,
 'stu_aa452ed85e': 396,
 'stu_c74ca1e3db': 397,
 'stu_517a156e60': 398,
 'stu_f1d8d6bedf': 399,
 'stu_099009bf1e': 400,
 'stu_a4df975f9d': 401,
 'stu_96fa22851d': 402,
 'stu_f01d558a15': 403,
 'stu_9e3adf5bb0': 404,
 'stu_5fa777a0c8': 405,
 'stu_3d37dd6197': 406,
 'stu_a115b60bba': 407,
 'stu_eb834ed917': 408,
 'stu_5a42d47f82': 409,
 'stu_0a004bf5db': 410,
 'stu_cfe3426c68': 411,
 'stu_3f53e8ab79': 412,
 'stu_b21c192bb1': 413,
 'stu_10678201dd': 414,
 'stu_aa42872a41': 415,
 'stu_ffc20adac0': 416,
 'stu_11ac9e538d': 417,
 'stu_ce0f034a71': 418,
 'stu_36ced75b8e': 419,
 'stu_bad57ab223': 420,
 'stu_4dd3671721': 421,
 'stu_50a1c71244': 422,
 'stu_d2419b1444': 423,
 'stu_885e810914': 424,
 'stu_dbe1550540': 425,
 'stu_38c03ceb75': 426,
 'stu_f77a29052e': 427,
 'stu_264d5277d2': 428,
 'stu_b03f274876': 429,
 'stu_5f327d9ece': 430,
 'stu_74e6a639b2': 431,
 'stu_29b5936ba4': 432,
 'stu_245597a5bc': 433,
 'stu_f659362532': 434,
 'stu_db239239f4': 435,
 'stu_fa18676154': 436,
 'stu_c614381071': 437,
 'stu_a6342266bf': 438,
 'stu_22a98342ba': 439,
 'stu_8f6f8b0008': 440,
 'stu_402f58f024': 441,
 'stu_94eb2e9338': 442,
 'stu_19d0c4f778': 443,
 'stu_7cbae4c3f5': 444,
 'stu_f073a6788f': 445,
 'stu_e219b38a67': 446,
 'stu_bb3048409a': 447,
 'stu_ca76c812f2': 448,
 'stu_0da58c9d0e': 449,
 'stu_bc0d600820': 450,
 'stu_855068ca61': 451,
 'stu_fbb40c464e': 452,
 'stu_011381bed0': 453,
 'stu_2b1922916e': 454,
 'stu_c4908f8382': 455,
 'stu_c77dd55194': 456,
 'stu_271c5b01ad': 457,
 'stu_608a75412e': 458,
 'stu_0ae8507d0d': 459,
 'stu_162008fc5a': 460,
 'stu_d5ac7481f1': 461,
 'stu_2ba796141e': 462,
 'stu_bb22e976ad': 463,
 'stu_a13ba8d664': 464,
 'stu_cdddeda59a': 465,
 'stu_be001c3cf4': 466,
 'stu_aec782233c': 467,
 'stu_53415e1f05': 468,
 'stu_8c6ccb5b7e': 469,
 'stu_9c6fce6c48': 470,
 'stu_6a02e13ada': 471,
 'stu_184c18fa18': 472,
 'stu_0bb2425139': 473,
 'stu_2e51fd9697': 474,
 'stu_99414d273a': 475,
 'stu_c4d65c1387': 476,
 'stu_1fb0205e04': 477,
 'stu_f8e2d3daba': 478,
 'stu_ae72b01756': 479,
 'stu_5c29f1a564': 480,
 'stu_8faa00d8d9': 481,
 'stu_8a66874efe': 482,
 'stu_b11271cc3e': 483,
 'stu_576c2f77e7': 484,
 'stu_0c65233f2b': 485,
 'stu_be6eeddcc7': 486,
 'stu_1135a75f6d': 487,
 'stu_6a9f7a621c': 488,
 'stu_be0ed102f4': 489,
 'stu_dcd5879363': 490,
 'stu_3214f2d975': 491,
 'stu_e2fbf35cbf': 492,
 'stu_cd42be7e79': 493,
 'stu_793ec60946': 494,
 'stu_322f568b3f': 495,
 'stu_54f8ac19b4': 496,
 'stu_d3b1c672ba': 497,
 'stu_0ec98db02d': 498,
 'stu_b29b4cd5c3': 499,
 'stu_c29d17ea48': 500,
 'stu_bba93f1931': 501,
 'stu_251839a2ff': 502,
 'stu_13ab39db59': 503,
 'stu_fefc02fc9f': 504,
 'stu_31da7046b6': 505,
 'stu_27c02ac9f9': 506,
 'stu_24afe241d6': 507,
 'stu_eac8a43ba0': 508,
 'stu_8574810693': 509,
 'stu_a21dc6bd0b': 510,
 'stu_d3ea462884': 511,
 'stu_f5411a767a': 512,
 'stu_387c01c3a7': 513,
 'stu_87f3fe5433': 514,
 'stu_ba18f858b0': 515,
 'stu_635b27c11d': 516,
 'stu_e696cd7c7e': 517,
 'stu_85e782a447': 518,
 'stu_01ea677d9a': 519,
 'stu_45569a069f': 520,
 'stu_6b5712abcf': 521,
 'stu_58dbb1ac78': 522,
 'stu_de4b1878f4': 523,
 'stu_2f21ed1166': 524,
 'stu_a28b0f39a2': 525,
 'stu_21c11a6839': 526,
 'stu_65d78e1563': 527,
 'stu_90a8515aaf': 528,
 'stu_b2b53c4462': 529,
 'stu_299fcd77a0': 530,
 'stu_c5a9335c56': 531,
 'stu_aa418b620d': 532,
 'stu_903e10e04f': 533,
 'stu_b26f6dfbd5': 534,
 'stu_af5055b37f': 535,
 'stu_6930175750': 536,
 'stu_727c1cf378': 537,
 'stu_2c6ea5f271': 538,
 'stu_ee11b66618': 539,
 'stu_7d7863e4ba': 540,
 'stu_51903cf860': 541,
 'stu_1dc47cbe2b': 542,
 'stu_4945ac3be8': 543,
 'stu_a618d11cfe': 544,
 'stu_cf390280fd': 545,
 'stu_07173df07b': 546,
 'stu_8dc9bcd0b6': 547,
 'stu_448c1b01e8': 548,
 'stu_44db81eadf': 549,
 'stu_572350a1e2': 550,
 'stu_7407aba280': 551,
 'stu_83c5182360': 552,
 'stu_806adb0c8b': 553,
 'stu_081fd2ae16': 554,
 'stu_1e34e59c15': 555,
 'stu_b5bdf273f0': 556,
 'stu_9aa8b51d60': 557,
 'stu_185b7d1752': 558,
 'stu_c71b67e65d': 559,
 'stu_4509ce42bf': 560,
 'stu_23c645d2fa': 561,
 'stu_905c60f9ce': 562,
 'stu_5df70da79b': 563,
 'stu_f3c3786acf': 564,
 'stu_9d4e9a8ed7': 565,
 'stu_e1fc1533ec': 566,
 'stu_5307316011': 567,
 'stu_be86a8f6c1': 568,
 'stu_3233a253f5': 569,
 'stu_b6bb8dfa2c': 570,
 'stu_862f86341a': 571,
 'stu_a28e95ac88': 572,
 'stu_67559fd644': 573,
 'stu_49b6f71e03': 574,
 'stu_3e3d0dff6d': 575,
 'stu_375dc7f798': 576,
 'stu_10f63dbde6': 577,
 'stu_77aa5b1b1f': 578,
 'stu_6dd031ffaa': 579,
 'stu_096e4cd087': 580,
 'stu_7b85433e55': 581,
 'stu_6c58383e31': 582,
 'stu_f8f16a0459': 583,
 'stu_c19e3a7f36': 584,
 'stu_05d4ba29d1': 585,
 'stu_e9cd2b7ffb': 586,
 'stu_6fda1fd208': 587,
 'stu_d6916a0bb0': 588,
 'stu_84e10b5869': 589,
 'stu_9506155b6a': 590,
 'stu_7cb906b623': 591,
 'stu_a424ac2cdf': 592,
 'stu_bb1ff7339d': 593,
 'stu_7624f47b70': 594,
 'stu_06a67c5b54': 595,
 'stu_aad0eb5c3b': 596,
 'stu_2691f2a027': 597,
 'stu_4cc8bf6734': 598,
 'stu_acc76b10ac': 599,
 'stu_d44ac89f31': 600,
 'stu_9f5656417f': 601,
 'stu_e330e6f9f8': 602,
 'stu_0ec808e775': 603,
 'stu_dcdb759949': 604,
 'stu_e2824a0a05': 605,
 'stu_110b0b7439': 606,
 'stu_4a4fe7a866': 607,
 'stu_278606f3c3': 608,
 'stu_0d8deb7f0a': 609,
 'stu_e0f06000ab': 610,
 'stu_4244f05f29': 611,
 'stu_eec4a25d95': 612,
 'stu_b17a9c29db': 613,
 'stu_716b630ece': 614,
 'stu_0d61cd9be8': 615,
 'stu_1286548e2b': 616,
 'stu_48b6fdef17': 617,
 'stu_f4457ed18f': 618,
 'stu_75b7996afe': 619,
 'stu_3274448e62': 620,
 'stu_0c3563df0f': 621,
 'stu_af019cacb0': 622,
 'stu_d2a4cde8ba': 623,
 'stu_39dafe6f4c': 624,
 'stu_1cb9148794': 625,
 'stu_416279aef7': 626,
 'stu_1b5cd18ca5': 627,
 'stu_506746d101': 628,
 'stu_85984aa914': 629,
 'stu_f2dd2f8ad7': 630,
 'stu_2621ae4997': 631,
 'stu_7024bb2724': 632,
 'stu_012a09044b': 633,
 'stu_c23c428ecf': 634,
 'stu_485ee25931': 635,
 'stu_ed77d89361': 636,
 'stu_e73317b6a1': 637,
 'stu_15b84928d6': 638,
 'stu_0bae20d3ae': 639,
 'stu_ac0c97aef6': 640,
 'stu_040bb71e7a': 641,
 'stu_dc3562d5fb': 642,
 'stu_da55f4c65f': 643,
 'stu_4a2173140f': 644,
 'stu_5792182f7f': 645,
 'stu_d6c08e19dd': 646,
 'stu_cf5146f5f8': 647,
 'stu_2cda2992f1': 648,
 'stu_07df71b69f': 649,
 'stu_d44d0e3e47': 650,
 'stu_6515f27d6d': 651,
 'stu_a79737a048': 652,
 'stu_3e8263c5d1': 653,
 'stu_a101fce107': 654,
 'stu_5415165ced': 655,
 'stu_78a49a4829': 656,
 'stu_133a305f2d': 657,
 'stu_44329a525d': 658,
 'stu_9d19f181ca': 659,
 'stu_fa83b92d98': 660,
 'stu_1e95f4d085': 661,
 'stu_1796b34de8': 662,
 'stu_ed14196d40': 663,
 'stu_ce9dd87099': 664,
 'stu_6e1a7fa6ac': 665,
 'stu_b274b5fd96': 666,
 'stu_3115527f02': 667,
 'stu_f6f421b2f9': 668,
 'stu_3f466fbcc6': 669,
 'stu_f158cfd96e': 670,
 'stu_b27079a65e': 671,
 'stu_620167c73c': 672,
 'stu_2c8bc5c52b': 673,
 'stu_20449c7f92': 674,
 'stu_982fc76cf2': 675,
 'stu_51117291bc': 676,
 'stu_bf8fe23e33': 677,
 'stu_923bd95e22': 678,
 'stu_de7d8ccb8f': 679,
 'stu_461d2ec195': 680,
 'stu_8028e2603f': 681,
 'stu_05d27e0d60': 682,
 'stu_94c5b9d91a': 683,
 'stu_99dd2945f7': 684,
 'stu_2d6d8be1e2': 685,
 'stu_181bd27bb9': 686,
 'stu_23904d80dd': 687,
 'stu_2d6dac38de': 688,
 'stu_c50aaba5c8': 689,
 'stu_0fee3da977': 690,
 'stu_5865d3281e': 691,
 'stu_aec84557e5': 692,
 'stu_555291835d': 693,
 'stu_549a7d80b3': 694,
 'stu_a50dca84fb': 695,
 'stu_34d196b747': 696,
 'stu_429e3eef7a': 697,
 'stu_5efb2e9e2d': 698,
 'stu_bbf532afb1': 699,
 'stu_00f8350558': 700,
 'stu_acaa34ec36': 701,
 'stu_daf551f661': 702,
 'stu_8ce87c1109': 703,
 'stu_cd784e308b': 704,
 'stu_2967567f40': 705,
 'stu_26f44c5525': 706,
 'stu_1dc75a783d': 707,
 'stu_377a295e90': 708,
 'stu_cc26d758a7': 709,
 'stu_3e2ee09dec': 710,
 'stu_401ea6a597': 711,
 'stu_09e0b31d8c': 712,
 'stu_33af576e6d': 713,
 'stu_dc39fd2b8d': 714,
 'stu_c1c21200d1': 715,
 'stu_ee62e1e814': 716,
 'stu_9f44e047ef': 717,
 'stu_5fa04c94fe': 718,
 'stu_7124cebed0': 719,
 'stu_41dd8a3f31': 720,
 'stu_4bd2c1b9ed': 721,
 'stu_be4aa75db0': 722,
 'stu_6f73652836': 723,
 'stu_8251c7bcc0': 724,
 'stu_e67390729c': 725,
 'stu_45cfda450b': 726,
 'stu_d19aae9bd4': 727,
 'stu_9ed500174b': 728,
 'stu_de5d26b086': 729,
 'stu_cdf16cd5db': 730,
 'stu_64ceeebee4': 731,
 'stu_3fe43dd238': 732,
 'stu_1ec9acc299': 733,
 'stu_23a9f779e3': 734,
 'stu_bfe9d2cdf9': 735,
 'stu_1ab338c394': 736,
 'stu_7d9916e936': 737,
 'stu_9bcb5cd6a0': 738,
 'stu_9865e24709': 739,
 'stu_74d5d75e87': 740,
 'stu_57f0bb53b7': 741,
 'stu_519fb71a55': 742,
 'stu_27e153ef94': 743,
 'stu_945365d4b4': 744,
 'stu_48feaa6fb3': 745,
 'stu_8da7bc9c75': 746,
 'stu_36771b9445': 747,
 'stu_e9b7ba85ed': 748,
 'stu_73ec3eb637': 749,
 'stu_b56fc8fa93': 750,
 'stu_a1bdb6d817': 751,
 'stu_5050d8591c': 752,
 'stu_24a1ead727': 753,
 'stu_fd8bed7b34': 754,
 'stu_e0826db014': 755,
 'stu_a581c48b83': 756,
 'stu_e1190a4190': 757,
 'stu_c020496636': 758,
 'stu_ccd7067efb': 759,
 'stu_99cca42084': 760,
 'stu_c05162c7c1': 761,
 'stu_316ae275b3': 762,
 'stu_516095ee12': 763,
 'stu_7fd23b15c0': 764,
 'stu_23cff46483': 765,
 'stu_cbc1ae6ff7': 766,
 'stu_3e306dbb3d': 767,
 'stu_681cf3d205': 768,
 'stu_069b23d3ab': 769,
 'stu_8a81cee247': 770,
 'stu_63affa27d1': 771,
 'stu_4628ffd242': 772,
 'stu_c57288a218': 773,
 'stu_e972f475e8': 774,
 'stu_7ab5cd075c': 775,
 'stu_a07514c0d7': 776,
 'stu_1ad644c1a1': 777,
 'stu_c14220c2df': 778,
 'stu_740199fffb': 779,
 'stu_70c178421b': 780,
 'stu_922ab49884': 781,
 'stu_86bcb1b94c': 782,
 'stu_524e266b6e': 783,
 'stu_f72832923f': 784,
 'stu_b26dd3dd17': 785,
 'stu_10ce0c35d4': 786,
 'stu_aee598a3d5': 787,
 'stu_f3b67ad249': 788,
 'stu_3a8ee4a3c9': 789,
 'stu_0a258c40fa': 790,
 'stu_1d52d4c47d': 791,
 'stu_736bf76d57': 792,
 'stu_2593ea7ea0': 793,
 'stu_2867b83398': 794,
 'stu_fed35eaf95': 795,
 'stu_3e041d4ba4': 796,
 'stu_b0b9ee2b36': 797,
 'stu_e1cc7d622c': 798,
 'stu_68e3c489e9': 799,
 'stu_aade86196e': 800,
 'stu_19c19960db': 801,
 'stu_76c31124ea': 802,
 'stu_b3254edb58': 803,
 'stu_58cdf90f10': 804,
 'stu_6be0c9c643': 805,
 'stu_f5a6d2dd7a': 806,
 'stu_1f757a6428': 807,
 'stu_8cb227b34e': 808,
 'stu_1e58c1f128': 809,
 'stu_021fd88c46': 810,
 'stu_0826ab350f': 811,
 'stu_c2f10382ba': 812,
 'stu_b5af9a2bf4': 813,
 'stu_e4739bfd4b': 814,
 'stu_faca3a7e63': 815,
 'stu_3435df0dff': 816,
 'stu_613e4c1aa1': 817,
 'stu_b16e597e7a': 818,
 'stu_e79e93ac54': 819,
 'stu_fdb2bf9d8b': 820,
 'stu_956d7331df': 821,
 'stu_c470a2749e': 822,
 'stu_83b5d33af5': 823,
 'stu_a5b9f37c13': 824,
 'stu_3776789e60': 825,
 'stu_5b9741f1ae': 826,
 'stu_7549c25343': 827,
 'stu_cf4d257da1': 828,
 'stu_f6f926047a': 829,
 'stu_d02d935247': 830,
 'stu_d763387540': 831,
 'stu_1c52ca4a7d': 832,
 'stu_3a02ba5e8a': 833,
 'stu_a53ebc922d': 834,
 'stu_fdcc1c7ee3': 835,
 'stu_030938802a': 836,

In [9]:
import pickle

with open('stu_id_dict.pickle', 'wb') as handle:
    pickle.dump(id_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save student id dict.')

Finish save student id dict.

In [10]:
df['Anon Student Id'] = df['Anon Student Id'].apply(lambda x: id_dict[x] if x in id_dict else -1)
print('Finish one-hot encoding Anon Student Id.')

Finish one-hot encoding Anon Student Id.

- One-hot encoding: Problem Hierarchy

In [11]:
pro_hier_dict = df['Problem Hierarchy'].unique()
pro_hier_dict = dict(enumerate(pro_hier_dict))
pro_hier_dict = {v: k for k, v in pro_hier_dict.items()}

with open('pro_hier_dict.pickle', 'wb') as handle:
    pickle.dump(pro_hier_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save Problem Hierarchy dict.')

Finish save Problem Hierarchy dict.

In [12]:
df['Problem Hierarchy'] = df['Problem Hierarchy'].apply(lambda x: pro_hier_dict[x] if x in pro_hier_dict else -1)
print('Finish one-hot encoding Problem Hierarchy.')

Finish one-hot encoding Problem Hierarchy.

- One-hot encoding: Problem Name

In [13]:
pro_name_dict = df['Problem Name'].unique()
pro_name_dict = dict(enumerate(pro_name_dict))
pro_name_dict = {v: k for k, v in pro_name_dict.items()}

with open('pro_name_dict.pickle', 'wb') as handle:
    pickle.dump(pro_name_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save Problem Name dict.')

df['Problem Name'] = df['Problem Name'].apply(lambda x: pro_name_dict[x] if x in pro_name_dict else -1)
print('Finish one-hot encoding Problem Name.')

Finish save Problem Name dict.
Finish one-hot encoding Problem Name.

- One-hot encoding: Step Name

In [14]:
step_name_dict = df['Step Name'].unique()
step_name_dict = dict(enumerate(step_name_dict))
step_name_dict = {v: k for k, v in step_name_dict.items()}

with open('step_name_dict.pickle', 'wb') as handle:
    pickle.dump(step_name_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save Step Name dict.')

df['Step Name'] = df['Step Name'].apply(lambda x: step_name_dict[x] if x in step_name_dict else -1)
print('Finish one-hot encoding Step Name.')

Finish save Step Name dict.
Finish one-hot encoding Step Name.

- One-hot encoding: KC(SubSkills)

In [15]:
kc_sub_dict = df['KC(SubSkills)'].unique()
kc_sub_dict = dict(enumerate(kc_sub_dict))
kc_sub_dict = {v: k for k, v in kc_sub_dict.items()}

with open('kc_sub_dict.pickle', 'wb') as handle:
    pickle.dump(kc_sub_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save KC(SubSkills) dict.')

df['KC(SubSkills)'] = df['KC(SubSkills)'].apply(lambda x: kc_sub_dict[x] if x in kc_sub_dict else -1)
print('Finish one-hot encoding KC(SubSkills).')

Finish save KC(SubSkills) dict.
Finish one-hot encoding KC(SubSkills).

- One-hot encoding: KC(KTracedSkills)

In [16]:
kc_ktrace_dict = df['KC(KTracedSkills)'].unique()
kc_ktrace_dict = dict(enumerate(kc_ktrace_dict))
kc_ktrace_dict = {v: k for k, v in kc_ktrace_dict.items()}

with open('kc_ktrace_dict.pickle', 'wb') as handle:
    pickle.dump(kc_ktrace_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save KC(KTracedSkills) dict.')

df['KC(KTracedSkills)'] = df['KC(KTracedSkills)'].apply(lambda x: kc_ktrace_dict[x] if x in kc_ktrace_dict else -1)
print('Finish one-hot encoding KC(KTracedSkills).')

Finish save KC(KTracedSkills) dict.
Finish one-hot encoding KC(KTracedSkills).

- One-hot encoding: KC(Rules)

In [17]:
kc_rule_dict = df['KC(Rules)'].unique()
kc_rule_dict = dict(enumerate(kc_rule_dict))
kc_rule_dict = {v: k for k, v in kc_rule_dict.items()}

with open('kc_rule_dict.pickle', 'wb') as handle:
    pickle.dump(kc_rule_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save KC(Rules) dict.')

df['KC(Rules)'] = df['KC(Rules)'].apply(lambda x: kc_rule_dict[x] if x in kc_rule_dict else -1)
print('Finish one-hot encoding KC(Rules).')

Finish save KC(Rules) dict.
Finish one-hot encoding KC(Rules).

- One-hot encoding: Opportunity(SubSkills)

In [18]:
opt_sub_dict = df['Opportunity(SubSkills)'].unique()
opt_sub_dict = dict(enumerate(opt_sub_dict))
opt_sub_dict = {v: k for k, v in opt_sub_dict.items()}

with open('opt_sub_dict.pickle', 'wb') as handle:
    pickle.dump(opt_sub_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save Opportunity(SubSkills) dict.')

df['Opportunity(SubSkills)'] = df['Opportunity(SubSkills)'].apply(lambda x: opt_sub_dict[x] if x in opt_sub_dict else -1)
print('Finish one-hot encoding Opportunity(SubSkills).')

Finish save Opportunity(SubSkills) dict.
Finish one-hot encoding Opportunity(SubSkills).

- One-hot encoding: Opportunity(KTracedSkills)

In [19]:
opt_ktrace_dict = df['Opportunity(KTracedSkills)'].unique()
opt_ktrace_dict = dict(enumerate(opt_ktrace_dict))
opt_ktrace_dict = {v: k for k, v in opt_ktrace_dict.items()}

with open('opt_ktrace_dict.pickle', 'wb') as handle:
    pickle.dump(opt_ktrace_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save Opportunity(KTracedSkills) dict.')

df['Opportunity(KTracedSkills)'] = df['Opportunity(KTracedSkills)'].apply(lambda x: opt_ktrace_dict[x] if x in opt_ktrace_dict else -1)
print('Finish one-hot encoding Opportunity(KTracedSkills).')

Finish save Opportunity(KTracedSkills) dict.
Finish one-hot encoding Opportunity(KTracedSkills).

- One-hot encoding: Opportunity(Rules)

In [20]:
opt_rule_dict = df['Opportunity(Rules)'].unique()
opt_rule_dict = dict(enumerate(opt_rule_dict))
opt_rule_dict = {v: k for k, v in opt_rule_dict.items()}

with open('opt_rule_dict.pickle', 'wb') as handle:
    pickle.dump(opt_rule_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
print('Finish save Opportunity(Rules) dict.')

df['Opportunity(Rules)'] = df['Opportunity(Rules)'].apply(lambda x: opt_rule_dict[x] if x in opt_rule_dict else -1)
print('Finish one-hot encoding Opportunity(Rules).')

Finish save Opportunity(Rules) dict.
Finish one-hot encoding Opportunity(Rules).

## Feature Engineer - Clustering

- Try KMeans clustering

In [26]:
df['Correct Transaction Time'] = df['Correct Transaction Time'].apply(lambda x: str(x)[:-2] if ".0" in str(x) else str(x))
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Incorrects,Hints,Corrects,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR
0,1,0,0,0,1,0,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,...,3,1,1,0,0,0,0,0,0,0.889209
1,2,0,0,0,1,1,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,...,0,0,1,1,0,0,0,1,0,0.889209
2,3,0,0,0,1,2,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,...,0,0,1,2,1,1,1,2,0,0.889209
3,4,0,0,0,1,3,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,...,1,0,1,3,2,2,2,3,0,0.889209
4,5,0,0,0,1,4,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,2008-09-19 13:30:46,...,0,0,1,4,3,3,3,4,0,0.889209

In [27]:
df['Correct Transaction Time'] = pd.Series(pd.to_datetime(df['Correct Transaction Time']))

We suppose these data records are in the same year, same month and same day.

In [28]:
df['year']  = df['Correct Transaction Time'].dt.year
df['month']  = df['Correct Transaction Time'].dt.month
df['day']  = df['Correct Transaction Time'].dt.day

In [29]:
df['Step Start Time'] = df['Step Start Time'].dt.hour * 3600 + df['Step Start Time'].dt.minute * 60 + df['Step Start Time'].dt.second

In [30]:
df['First Transaction Time'] = df['First Transaction Time'].dt.hour * 3600 + df['First Transaction Time'].dt.minute * 60 + df['First Transaction Time'].dt.second

In [31]:
df['Correct Transaction Time'] = df['Correct Transaction Time'].dt.hour * 3600 + df['Correct Transaction Time'].dt.minute * 60 + df['Correct Transaction Time'].dt.second

In [32]:
df['Step End Time'] = df['Step End Time'].dt.hour * 3600 + df['Step End Time'].dt.minute * 60 + df['Step End Time'].dt.second

In [33]:
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR,year,month,day
0,1,0,0,0,1,0,48646,48646,48646,48646,...,0,0,0,0,0,0,0.889209,2008,9,19
1,2,0,0,0,1,1,48646,48646,48646,48646,...,1,0,0,0,1,0,0.889209,2008,9,19
2,3,0,0,0,1,2,48646,48646,48646,48646,...,2,1,1,1,2,0,0.889209,2008,9,19
3,4,0,0,0,1,3,48646,48646,48646,48646,...,3,2,2,2,3,0,0.889209,2008,9,19
4,5,0,0,0,1,4,48646,48646,48646,48646,...,4,3,3,3,4,0,0.889209,2008,9,19

In [34]:
df.isnull().any()

Row                            False
Anon Student Id                False
Problem Hierarchy              False
Problem Name                   False
Problem View                   False
Step Name                      False
Step Start Time                False
First Transaction Time         False
Correct Transaction Time       False
Step End Time                  False
Step Duration (sec)            False
Correct Step Duration (sec)    False
Error Step Duration (sec)      False
Correct First Attempt          False
Incorrects                     False
Hints                          False
Corrects                       False
KC(SubSkills)                  False
Opportunity(SubSkills)         False
KC(KTracedSkills)              False
Opportunity(KTracedSkills)     False
KC(Rules)                      False
Opportunity(Rules)             False
CFAR                           False
year                           False
month                          False
day                            False
dtype: bool

In [35]:
df.isnull().sum()

Row                            0
Anon Student Id                0
Problem Hierarchy              0
Problem Name                   0
Problem View                   0
Step Name                      0
Step Start Time                0
First Transaction Time         0
Correct Transaction Time       0
Step End Time                  0
Step Duration (sec)            0
Correct Step Duration (sec)    0
Error Step Duration (sec)      0
Correct First Attempt          0
Incorrects                     0
Hints                          0
Corrects                       0
KC(SubSkills)                  0
Opportunity(SubSkills)         0
KC(KTracedSkills)              0
Opportunity(KTracedSkills)     0
KC(Rules)                      0
Opportunity(Rules)             0
CFAR                           0
year                           0
month                          0
day                            0
dtype: int64

In [36]:
df['CFAR'] = df['CFAR'].fillna(0.5)

In [37]:
df.dtypes

Row                              int64
Anon Student Id                  int64
Problem Hierarchy                int64
Problem Name                     int64
Problem View                     int64
Step Name                        int64
Step Start Time                  int64
First Transaction Time           int64
Correct Transaction Time         int64
Step End Time                    int64
Step Duration (sec)            float64
Correct Step Duration (sec)    float64
Error Step Duration (sec)      float64
Correct First Attempt            int64
Incorrects                       int64
Hints                            int64
Corrects                         int64
KC(SubSkills)                    int64
Opportunity(SubSkills)           int64
KC(KTracedSkills)                int64
Opportunity(KTracedSkills)       int64
KC(Rules)                        int64
Opportunity(Rules)               int64
CFAR                           float64
year                             int64
month                            int64
day                              int64
dtype: object

In [38]:
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR,year,month,day
0,1,0,0,0,1,0,48646,48646,48646,48646,...,0,0,0,0,0,0,0.889209,2008,9,19
1,2,0,0,0,1,1,48646,48646,48646,48646,...,1,0,0,0,1,0,0.889209,2008,9,19
2,3,0,0,0,1,2,48646,48646,48646,48646,...,2,1,1,1,2,0,0.889209,2008,9,19
3,4,0,0,0,1,3,48646,48646,48646,48646,...,3,2,2,2,3,0,0.889209,2008,9,19
4,5,0,0,0,1,4,48646,48646,48646,48646,...,4,3,3,3,4,0,0.889209,2008,9,19

### Check Point - final processed data.

In [ ]:
df.to_hdf('train_data_final.hdf','data',mode='w') 

print("Save final data to hdf file.")

In [1]:
import pandas as pd
df = pd.read_hdf('train_data_final.hdf','data')
print('Finish load final data.')

Finish load final data.

In [2]:
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,KC(SubSkills),Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR,year,month,day
0,1,0,0,0,1,0,48646,48646,48646,48646,...,0,0,0,0,0,0,0.889209,2008,9,19
1,2,0,0,0,1,1,48646,48646,48646,48646,...,1,0,0,0,1,0,0.889209,2008,9,19
2,3,0,0,0,1,2,48646,48646,48646,48646,...,2,1,1,1,2,0,0.889209,2008,9,19
3,4,0,0,0,1,3,48646,48646,48646,48646,...,3,2,2,2,3,0,0.889209,2008,9,19
4,5,0,0,0,1,4,48646,48646,48646,48646,...,4,3,3,3,4,0,0.889209,2008,9,19

In [3]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import numpy as np
import time

start_time = time.time()
kmeans = KMeans(n_clusters=3, random_state=32).fit(df)

preds = kmeans.predict(df)
# Cause memory error rised, so remove this step
#score = silhouette_score(df, preds)
#print(score)
print("%s seconds." % (time.time() - start_time))

224.96071004867554 seconds.

In [4]:
preds.shape

(8918054,)

In [5]:
df2 = pd.DataFrame(data=preds,columns=['group'])

In [6]:
df2.head()

   group
0      1
1      1
2      1
3      1
4      1

In [7]:
data = pd.concat([df, df2], axis=1, join_axes=[df.index])

In [8]:
data.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR,year,month,day,group
0,1,0,0,0,1,0,48646,48646,48646,48646,...,0,0,0,0,0,0.889209,2008,9,19,1
1,2,0,0,0,1,1,48646,48646,48646,48646,...,0,0,0,1,0,0.889209,2008,9,19,1
2,3,0,0,0,1,2,48646,48646,48646,48646,...,1,1,1,2,0,0.889209,2008,9,19,1
3,4,0,0,0,1,3,48646,48646,48646,48646,...,2,2,2,3,0,0.889209,2008,9,19,1
4,5,0,0,0,1,4,48646,48646,48646,48646,...,3,3,3,4,0,0.889209,2008,9,19,1

## Data and Model

In [9]:
y = data['Correct First Attempt']

In [10]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: Correct First Attempt, dtype: int64

In [11]:
del data['Correct First Attempt']
X = data

In [12]:
X.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Opportunity(SubSkills),KC(KTracedSkills),Opportunity(KTracedSkills),KC(Rules),Opportunity(Rules),CFAR,year,month,day,group
0,1,0,0,0,1,0,48646,48646,48646,48646,...,0,0,0,0,0,0.889209,2008,9,19,1
1,2,0,0,0,1,1,48646,48646,48646,48646,...,0,0,0,1,0,0.889209,2008,9,19,1
2,3,0,0,0,1,2,48646,48646,48646,48646,...,1,1,1,2,0,0.889209,2008,9,19,1
3,4,0,0,0,1,3,48646,48646,48646,48646,...,2,2,2,3,0,0.889209,2008,9,19,1
4,5,0,0,0,1,4,48646,48646,48646,48646,...,3,3,3,4,0,0.889209,2008,9,19,1

In [13]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [18]:
# Use lightGBM algorithm, Code example
from pylightgbm.models import GBMClassifier
from sklearn import datasets, metrics, model_selection
from sklearn import cross_validation, metrics  

exec_p = "/Users/michaelfeng/code/LightGBM/lightgbm"

In [21]:
import time

start_time = time.time()

clf = GBMClassifier(exec_path=exec_p,max_bin=255,learning_rate=0.1,boosting_type='dart',
                   num_iterations=200, early_stopping_round=10,num_threads=4,
                   num_leaves=40, min_data_in_leaf=10)
clf.fit(X_train, y_train, test_data=[(X_val, y_val)])
y_pred = clf.predict(X_test)

print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print("Log Loss: ", metrics.log_loss(y_test, y_pred))
print("%s seconds." % (time.time() - start_time))

pyLightGBM is looking for 'LIGHTGBM_EXEC' environment variable, cannot be found.
exec_path will be deprecated in favor of environment variable
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Finished loading data in 17.383717 seconds
[LightGBM] [Info] Number of positive: 4872964, number of negative: 834590
[LightGBM] [Info] Total Bins 4383
[LightGBM] [Info] Number of data: 5707554, number of used features: 27
[LightGBM] [Info] Finished initializing training
[LightGBM] [Info] Started training...
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:1, valid_1 binary_logloss : 0.611214
[LightGBM] [Info] 0.413885 seconds elapsed, finished iteration 1
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:2, valid_1 binary_logloss : 0.544131
[LightGBM] [Info] 0.843547 seconds elapsed, finished iteration 2
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:3, valid_1 binary_logloss : 0.488229
[LightGBM] [Info] 1.258282 seconds elapsed, finished iteration 3
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:4, valid_1 binary_logloss : 0.441024
[LightGBM] [Info] 1.587722 seconds elapsed, finished iteration 4
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:5, valid_1 binary_logloss : 0.400747
[LightGBM] [Info] 1.923378 seconds elapsed, finished iteration 5
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:6, valid_1 binary_logloss : 0.3661
[LightGBM] [Info] 2.241056 seconds elapsed, finished iteration 6
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:7, valid_1 binary_logloss : 0.336095
[LightGBM] [Info] 2.570962 seconds elapsed, finished iteration 7
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:8, valid_1 binary_logloss : 0.309972
[LightGBM] [Info] 2.905865 seconds elapsed, finished iteration 8
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:9, valid_1 binary_logloss : 0.287114
[LightGBM] [Info] 3.293733 seconds elapsed, finished iteration 9
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:10, valid_1 binary_logloss : 0.267047
[LightGBM] [Info] 3.643740 seconds elapsed, finished iteration 10
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:11, valid_1 binary_logloss : 0.249358
[LightGBM] [Info] 3.954620 seconds elapsed, finished iteration 11
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:12, valid_1 binary_logloss : 0.233735
[LightGBM] [Info] 4.261314 seconds elapsed, finished iteration 12
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:13, valid_1 binary_logloss : 0.219892
[LightGBM] [Info] 4.577096 seconds elapsed, finished iteration 13
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:14, valid_1 binary_logloss : 0.207607
[LightGBM] [Info] 4.889886 seconds elapsed, finished iteration 14
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:15, valid_1 binary_logloss : 0.196679
[LightGBM] [Info] 5.218813 seconds elapsed, finished iteration 15
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:16, valid_1 binary_logloss : 0.186944
[LightGBM] [Info] 5.558573 seconds elapsed, finished iteration 16
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:17, valid_1 binary_logloss : 0.178264
[LightGBM] [Info] 5.859103 seconds elapsed, finished iteration 17
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:18, valid_1 binary_logloss : 0.170508
[LightGBM] [Info] 6.185992 seconds elapsed, finished iteration 18
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:19, valid_1 binary_logloss : 0.163577
[LightGBM] [Info] 6.491925 seconds elapsed, finished iteration 19
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:20, valid_1 binary_logloss : 0.157375
[LightGBM] [Info] 6.816854 seconds elapsed, finished iteration 20
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=10
[LightGBM] [Info] Iteration:21, valid_1 binary_logloss : 0.151814
[LightGBM] [Info] 7.138009 seconds elapsed, finished iteration 21
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:22, valid_1 binary_logloss : 0.146831
[LightGBM] [Info] 7.475781 seconds elapsed, finished iteration 22
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:23, valid_1 binary_logloss : 0.142363
[LightGBM] [Info] 7.808653 seconds elapsed, finished iteration 23
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=10
[LightGBM] [Info] Iteration:24, valid_1 binary_logloss : 0.138352
[LightGBM] [Info] 8.113360 seconds elapsed, finished iteration 24
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:25, valid_1 binary_logloss : 0.13475
[LightGBM] [Info] 8.419612 seconds elapsed, finished iteration 25
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:26, valid_1 binary_logloss : 0.131516
[LightGBM] [Info] 8.795781 seconds elapsed, finished iteration 26
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:27, valid_1 binary_logloss : 0.128609
[LightGBM] [Info] 9.166481 seconds elapsed, finished iteration 27
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:28, valid_1 binary_logloss : 0.125996
[LightGBM] [Info] 9.585658 seconds elapsed, finished iteration 28
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:29, valid_1 binary_logloss : 0.123648
[LightGBM] [Info] 9.970289 seconds elapsed, finished iteration 29
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:30, valid_1 binary_logloss : 0.121539
[LightGBM] [Info] 10.381512 seconds elapsed, finished iteration 30
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:31, valid_1 binary_logloss : 0.119642
[LightGBM] [Info] 10.742650 seconds elapsed, finished iteration 31
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:32, valid_1 binary_logloss : 0.117936
[LightGBM] [Info] 11.115444 seconds elapsed, finished iteration 32
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:33, valid_1 binary_logloss : 0.116402
[LightGBM] [Info] 11.549182 seconds elapsed, finished iteration 33
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:34, valid_1 binary_logloss : 0.115023
[LightGBM] [Info] 11.991858 seconds elapsed, finished iteration 34
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:35, valid_1 binary_logloss : 0.113785
[LightGBM] [Info] 12.477479 seconds elapsed, finished iteration 35
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:36, valid_1 binary_logloss : 0.113873
[LightGBM] [Info] 13.046048 seconds elapsed, finished iteration 36
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:37, valid_1 binary_logloss : 0.112747
[LightGBM] [Info] 13.389194 seconds elapsed, finished iteration 37
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:38, valid_1 binary_logloss : 0.111737
[LightGBM] [Info] 13.754130 seconds elapsed, finished iteration 38
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:39, valid_1 binary_logloss : 0.110825
[LightGBM] [Info] 14.138594 seconds elapsed, finished iteration 39
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:40, valid_1 binary_logloss : 0.110006
[LightGBM] [Info] 14.639476 seconds elapsed, finished iteration 40
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:41, valid_1 binary_logloss : 0.110064
[LightGBM] [Info] 15.142780 seconds elapsed, finished iteration 41
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:42, valid_1 binary_logloss : 0.109323
[LightGBM] [Info] 15.613623 seconds elapsed, finished iteration 42
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:43, valid_1 binary_logloss : 0.109769
[LightGBM] [Info] 16.515696 seconds elapsed, finished iteration 43
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:44, valid_1 binary_logloss : 0.109059
[LightGBM] [Info] 16.908289 seconds elapsed, finished iteration 44
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:45, valid_1 binary_logloss : 0.108421
[LightGBM] [Info] 17.340377 seconds elapsed, finished iteration 45
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:46, valid_1 binary_logloss : 0.107848
[LightGBM] [Info] 17.822201 seconds elapsed, finished iteration 46
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:47, valid_1 binary_logloss : 0.107336
[LightGBM] [Info] 18.243836 seconds elapsed, finished iteration 47
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:48, valid_1 binary_logloss : 0.106874
[LightGBM] [Info] 18.669678 seconds elapsed, finished iteration 48
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:49, valid_1 binary_logloss : 0.106458
[LightGBM] [Info] 19.168276 seconds elapsed, finished iteration 49
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:50, valid_1 binary_logloss : 0.106384
[LightGBM] [Info] 19.789573 seconds elapsed, finished iteration 50
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:51, valid_1 binary_logloss : 0.106016
[LightGBM] [Info] 20.231481 seconds elapsed, finished iteration 51
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:52, valid_1 binary_logloss : 0.105686
[LightGBM] [Info] 20.679298 seconds elapsed, finished iteration 52
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:53, valid_1 binary_logloss : 0.105395
[LightGBM] [Info] 21.182240 seconds elapsed, finished iteration 53
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:54, valid_1 binary_logloss : 0.105137
[LightGBM] [Info] 21.636553 seconds elapsed, finished iteration 54
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:55, valid_1 binary_logloss : 0.104898
[LightGBM] [Info] 22.005227 seconds elapsed, finished iteration 55
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=10
[LightGBM] [Info] Iteration:56, valid_1 binary_logloss : 0.104692
[LightGBM] [Info] 22.407063 seconds elapsed, finished iteration 56
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:57, valid_1 binary_logloss : 0.104505
[LightGBM] [Info] 22.859179 seconds elapsed, finished iteration 57
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:58, valid_1 binary_logloss : 0.104337
[LightGBM] [Info] 23.232165 seconds elapsed, finished iteration 58
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:59, valid_1 binary_logloss : 0.104446
[LightGBM] [Info] 23.760702 seconds elapsed, finished iteration 59
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:60, valid_1 binary_logloss : 0.104284
[LightGBM] [Info] 24.156016 seconds elapsed, finished iteration 60
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:61, valid_1 binary_logloss : 0.104139
[LightGBM] [Info] 24.573392 seconds elapsed, finished iteration 61
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:62, valid_1 binary_logloss : 0.104003
[LightGBM] [Info] 24.956535 seconds elapsed, finished iteration 62
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=10
[LightGBM] [Info] Iteration:63, valid_1 binary_logloss : 0.103887
[LightGBM] [Info] 25.361531 seconds elapsed, finished iteration 63
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:64, valid_1 binary_logloss : 0.103783
[LightGBM] [Info] 25.787447 seconds elapsed, finished iteration 64
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:65, valid_1 binary_logloss : 0.10369
[LightGBM] [Info] 26.217958 seconds elapsed, finished iteration 65
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:66, valid_1 binary_logloss : 0.103605
[LightGBM] [Info] 26.635657 seconds elapsed, finished iteration 66
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:67, valid_1 binary_logloss : 0.103528
[LightGBM] [Info] 27.242256 seconds elapsed, finished iteration 67
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:68, valid_1 binary_logloss : 0.10346
[LightGBM] [Info] 27.661055 seconds elapsed, finished iteration 68
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:69, valid_1 binary_logloss : 0.103394
[LightGBM] [Info] 28.233449 seconds elapsed, finished iteration 69
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:70, valid_1 binary_logloss : 0.103425
[LightGBM] [Info] 29.104150 seconds elapsed, finished iteration 70
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:71, valid_1 binary_logloss : 0.103466
[LightGBM] [Info] 29.648299 seconds elapsed, finished iteration 71
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=16
[LightGBM] [Info] Iteration:72, valid_1 binary_logloss : 0.103401
[LightGBM] [Info] 30.123525 seconds elapsed, finished iteration 72
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:73, valid_1 binary_logloss : 0.103345
[LightGBM] [Info] 30.663052 seconds elapsed, finished iteration 73
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=17
[LightGBM] [Info] Iteration:74, valid_1 binary_logloss : 0.103292
[LightGBM] [Info] 31.121621 seconds elapsed, finished iteration 74
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:75, valid_1 binary_logloss : 0.103247
[LightGBM] [Info] 31.666184 seconds elapsed, finished iteration 75
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:76, valid_1 binary_logloss : 0.103257
[LightGBM] [Info] 32.335790 seconds elapsed, finished iteration 76
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:77, valid_1 binary_logloss : 0.103213
[LightGBM] [Info] 32.798770 seconds elapsed, finished iteration 77
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:78, valid_1 binary_logloss : 0.103217
[LightGBM] [Info] 33.379490 seconds elapsed, finished iteration 78
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:79, valid_1 binary_logloss : 0.103178
[LightGBM] [Info] 33.829990 seconds elapsed, finished iteration 79
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:80, valid_1 binary_logloss : 0.103146
[LightGBM] [Info] 34.376569 seconds elapsed, finished iteration 80
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:81, valid_1 binary_logloss : 0.103113
[LightGBM] [Info] 34.874198 seconds elapsed, finished iteration 81
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=16
[LightGBM] [Info] Iteration:82, valid_1 binary_logloss : 0.103084
[LightGBM] [Info] 35.347208 seconds elapsed, finished iteration 82
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:83, valid_1 binary_logloss : 0.103059
[LightGBM] [Info] 35.800244 seconds elapsed, finished iteration 83
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=17
[LightGBM] [Info] Iteration:84, valid_1 binary_logloss : 0.103033
[LightGBM] [Info] 36.516158 seconds elapsed, finished iteration 84
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=11
[LightGBM] [Info] Iteration:85, valid_1 binary_logloss : 0.103061
[LightGBM] [Info] 38.465720 seconds elapsed, finished iteration 85
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:86, valid_1 binary_logloss : 0.103033
[LightGBM] [Info] 39.127840 seconds elapsed, finished iteration 86
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:87, valid_1 binary_logloss : 0.103014
[LightGBM] [Info] 39.640688 seconds elapsed, finished iteration 87
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:88, valid_1 binary_logloss : 0.103019
[LightGBM] [Info] 40.269163 seconds elapsed, finished iteration 88
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:89, valid_1 binary_logloss : 0.103025
[LightGBM] [Info] 40.934264 seconds elapsed, finished iteration 89
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:90, valid_1 binary_logloss : 0.10303
[LightGBM] [Info] 41.526416 seconds elapsed, finished iteration 90
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:91, valid_1 binary_logloss : 0.103003
[LightGBM] [Info] 42.074731 seconds elapsed, finished iteration 91
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:92, valid_1 binary_logloss : 0.102977
[LightGBM] [Info] 42.514617 seconds elapsed, finished iteration 92
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:93, valid_1 binary_logloss : 0.102956
[LightGBM] [Info] 43.023977 seconds elapsed, finished iteration 93
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:94, valid_1 binary_logloss : 0.102965
[LightGBM] [Info] 43.871348 seconds elapsed, finished iteration 94
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:95, valid_1 binary_logloss : 0.10298
[LightGBM] [Info] 44.821400 seconds elapsed, finished iteration 95
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=12
[LightGBM] [Info] Iteration:96, valid_1 binary_logloss : 0.102992
[LightGBM] [Info] 45.678859 seconds elapsed, finished iteration 96
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=14
[LightGBM] [Info] Iteration:97, valid_1 binary_logloss : 0.102971
[LightGBM] [Info] 46.163328 seconds elapsed, finished iteration 97
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=13
[LightGBM] [Info] Iteration:98, valid_1 binary_logloss : 0.10297
[LightGBM] [Info] 46.779830 seconds elapsed, finished iteration 98
[LightGBM] [Info] Trained a tree with leaves=40 and max_depth=15
[LightGBM] [Info] Iteration:99, valid_1 binary_logloss : 0.102944

Parameter turning method could be found at [Complete Guide to Parameter Tuning in Gradient Boosting (GBM) in Python](https://www.analyticsvidhya.com/blog/2016/02/complete-guide-parameter-tuning-gradient-boosting-gbm-python/)

From the output of the LightGBM algorithm, we can see the algorithm return the following results:
- the binary logloss for validation data set: 0.102615
- Accuracy:  0.947368007934
- the Log Loss for all test data set:  1.81784608905

Fair enough.

## Benchmark

In [22]:
from sklearn import neighbors

start_time = time.time()

# we create an instance of Neighbours Classifier and fit the data.
clf = neighbors.KNeighborsClassifier(
    n_neighbors=10, weights='uniform', algorithm='auto', leaf_size=30, p=2, metric='minkowski', n_jobs=4)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print("Log Loss: ", metrics.log_loss(y_test, y_pred))
print("%s seconds." % (time.time() - start_time))

Accuracy:  0.872375759064
Log Loss:  4.40807422533
204.81724405288696 seconds.

## Summary

From the comparison between benchmark model and our designed model, we can see our designed model works great than the benchmark model. 

Our model and result can be optimized in many different ways, such as:
- Separate KC and Opportunity column modules which separated by '~~' to multi columns
- Fill 'CFAR' columns' NaN data with other options, for e.g., 0
- Other classification algorithms
- etc.

Some of the methods have been waived because the limitation of my laptop's memory. 
But it's still a good experiment.